@import 'vars', 'placeholders';

.faq-container {
    display: flex;
    flex-direction: column;
    padding: 18px 0;
    width: 700px;
    margin: auto;

    .question {
        @extend %slab-bold;
        font-size: 1.2rem;
        padding-bottom: 0.3rem;

        &:not(:first-of-type) {
            padding-top: 0.5rem;
        }
    }

    .answer-text {
        @extend %sans-regular;
        font-size: 1rem;
        padding-bottom: 0.8rem;
    }
}
