<div class="faq-container">
  <p class="instruction">click collapsed questions to expand</p>
  <app-question
    class="section"
    [question]="whatQuestion"
    [toggle]="false"
  ></app-question>
  <app-question
    class="section"
    [question]="whoQuestion"
    [toggle]="true"
  ></app-question>
  <p class="section-label">questions about my experience</p>
  <app-question
    *ngFor="let question of meQuestions"
    class="section"
    [question]="question"
    [toggle]="true"
  ></app-question>
  <p class="section-label">questions about your experience</p>
  <app-question
    *ngFor="let question of youQuestions"
    class="section"
    [question]="question"
    [toggle]="true"
  ></app-question>
  <p class="section comment-instructions">
    If there are additional questions you'd like to see answered here or if you
    have suggestions for how I could make this more helpful, feel free to get in
    touch.
  </p>
</div>
