<div class="section top-matter" #intro>
  <p class="description">
    In the field of Art History, the
    <a
      href="https://academicjobs.fandom.com/wiki/Art_History_2023-24"
      target="_blank"
      class="external-link"
      >Academic Jobs Wiki<app-svg-icon
        name="open-in-new"
        class="open-in-new icon"
      ></app-svg-icon
    ></a>
    serves as an informal clearinghouse for academic job postings. Inspired by
    similar efforts for Literature and History, this project provides an
    interface for visually exploring aggregated job postings from the Academic
    Jobs Wiki to facilitate a data-driven understanding of the Art History job
    market.
  </p>
  <p class="description">
    Throughout the humanities, there is a collective understanding that academic
    job markets are "in crisis," but as far as I know, there are no attempts to
    describe this quantitatively. The data presented are an attempt to
    facilitate a shared understanding of hiring trends within the field. I hope
    that this is useful for prospective and current PhD students and faculty
    alike.
  </p>
  <p class="description"
    >This dataset for this project currently covers
    {{ dataYears[1] - dataYears[0] + 1 }} years of data, from
    {{ dataYears[0] }} to {{ dataYears[1] }}, aggregated by scraping jobs posted
    on the Academic Jobs Wiki. Users can view changes in the total number of
    jobs over time as well as explore jobs by field, tenure status, job rank,
    and institution.</p
  >
  <h3 class="section-subheader">Exploring the data</h3>
  <p class="description"
    >Along with a
    <button (click)="scrollTo('summary')" class="link-to-section"
      >summary chart</button
    >
    of jobs by field across time, there are two interactive sections in this
    project that you can use to explore the data according to your interests:</p
  >
  <p class="description"
    >The
    <button (click)="scrollTo('jobCharacteristics')" class="link-to-section"
      >Explore by Job Characteristics</button
    >
    section can be used to ask questions about the quantity of jobs. This
    includes questions such as, "has the number of tenure-track jobs in Global /
    Non-Western Art increased or decreased over time?" and "how does the share
    of jobs listed for specific regions compare to that of jobs listed as
    General / Open?"
  </p>
  <p class="description"
    >The
    <button (click)="scrollTo('schools')" class="link-to-section"
      >Explore by Institution</button
    >
    section can be used to ask questions that begin with, "which schools...?"
    For example, you could use this section to understand which schools have
    historically hired for a specific field, which schools hire frequently, or
    which schools only hire for non-tenure track positions.
  </p>
  <p class="description">
    The source code for data scraping and aggregation is
    <a
      href="https://github.com/stephanietuerk/art-history-jobs"
      target="_blank"
      class="external-link"
      >available on GitHub<app-svg-icon
        name="open-in-new"
        class="open-in-new icon"
      ></app-svg-icon></a
    >. Additional
    <button (click)="scrollTo('methods')" class="link-to-section"
      >information on methods</button
    >
    for aggregation and field imputation are available at the bottom of the
    page.
  </p>
</div>
<div #summary class="section summary">
  <div class="summary-width-container">
    <h2 class="section-header" #summary>All jobs by field, 2011&ndash;2023</h2>
    <app-summary class="section-component summary"></app-summary>
  </div>
</div>
<div #jobCharacteristics class="section explore">
  <h2 class="section-header">Explore by Job Characteristics</h2>
  <app-explore class="section-component explore"></app-explore>
</div>
<div #schools class="section schools">
  <h2 class="section-header" #schools>Explore by Institution</h2>
  <app-schools class="section-component schools"></app-schools
></div>
<div #methods class="section">
  <h2 class="section-header methods" #methods>Dataset Creation</h2>
  <app-data-acquisition class="section-component"></app-data-acquisition
></div>
<div class="scroll-to-container">
  @if (currentSectionName$ | async; as currentSectionName) {
    <button
      class="scroll-to-next-section previous"
      [attr.aria-hidden]="
        currentSectionName === this.sectionNames[0] ? true : false
      "
      [style.visibility]="
        currentSectionName === this.sectionNames[0] ? 'hidden' : null
      "
      (click)="jumpToPrevious()"
      ><app-svg-icon
        class="scroll-arrows"
        name="keyboard-double-arrow-up"
      ></app-svg-icon
      ><p class="scroll-to-next-label">Jump to previous section</p></button
    >
    <button
      class="scroll-to-next-section next"
      [attr.aria-hidden]="
        currentSectionName === this.sectionNames[this.sections.length - 1]
          ? true
          : false
      "
      [style.visibility]="
        currentSectionName === this.sectionNames[this.sections.length - 1]
          ? 'hidden'
          : null
      "
      (click)="jumpToNext()"
      ><p class="scroll-to-next-label">Jump to next section</p>
      <app-svg-icon
        class="scroll-arrows"
        name="keyboard-double-arrow-down"
      ></app-svg-icon
    ></button>
  }
</div>
