@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;

:host {
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-variation-settings: 'wght' 450;
  --max-text-width: 720px;

  @media screen and (max-width: 1080px) {
    padding-right: 4%;
    padding-left: 4%;
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section-component {
  width: 100%;
}

.top-matter {
  width: initial;
}

.section-header {
  @extend %h5;
  font-size: 1.53rem;
  text-align: center;
  margin-top: grid(18);
  padding-top: grid(10);
  width: var(--max-text-width);
  border-top: 6px solid $color-light-gray-light;
  padding-bottom: grid(9);
}

.section-subheader {
  @extend %h6;
  text-align: center;
  padding-top: grid(4);
  padding-bottom: grid(6);
}

.link-to-section {
  @extend %sans-regular;
  cursor: pointer;
  color: $color-highlight;
  font-size: 1rem;
  font-variation-settings: 'wght' 450;

  &:hover {
    text-decoration: underline;
  }
}

.external-link {
  @extend %sans-regular;
  color: $color-highlight;
  font-variation-settings: 'wght' 450;

  &:hover {
    text-decoration: underline;
  }
}

.description {
  max-width: 720px;
  line-height: 1.5;
  align-self: center;
  font-variation-settings: 'wght' 450;

  &:not(:last-child) {
    padding-bottom: grid(6);
  }

  .open-in-new {
    transform: scale(0.85);
    position: relative;
    top: -3px;
    margin-left: grid(0.5);
  }
}

.scroll-to-container {
  position: fixed;
  top: auto;
  right: 0;
  bottom: grid(4);
  left: auto;
  width: 60px;
  margin-right: grid(4);
  background-color: rgba(white, 0.8);
  border-radius: grid(1);
  cursor: pointer;
}

.scroll-to-next-section {
  @extend %sans-regular;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media screen and (max-width: 500px) {
    font-size: 0.875rem;
  }

  &.previous {
    padding-bottom: grid(6);

    .scroll-to-next-label {
      padding-top: grid(2);
      padding-bottom: 0;
    }
  }

  .scroll-to-next-label {
    width: 60px;
    text-align: right;
    line-height: 1.2;
    padding-bottom: grid(2);
  }

  .scroll-arrows {
    align-self: flex-end;
    transform: scale(1.5);
    line-height: 0.5;

    @media screen and (max-width: 500px) {
      transform: scale(1.3);
    }
  }
}
