<div class="project-container">
    <app-explore></app-explore>
    <!-- <app-summary></app-summary> -->
    <div class="top-matter-container">
        <p class="description">
            Inspired by similar efforts that I'd seen for Literature and History, I wanted to take a look at recent
            trends in the Art History job market via the jobs posted on the Academic Jobs Wiki.
        </p>
        <h2 class="section-header">Data Acquisition and Cleaning</h2>
        <p class="description">
            I gathered data using the wikia python library that provides an interface on top of the wikia API. You can
            see my work in this Colab Notebook. Many thanks to Ryan Heuser whose notebook for English Lit jobs data
            scraping (posted on Twitter) I used as a model for getting data from the Wikia page.
        </p>
        <p class="description">
            For each job posting, I attributed a field, such as Modern / Contemporary Art, tenure status (tenure track,
            non-tenure track, and unknown), and one or more ranks, such as assistant professor or postdoc. The vast
            majority of this (99%) was done programmatically, using the field headings that jobs are posted on the wiki
            page and scanning text for keywords related to tenure status and rank.
        </p>
        <p class="description">
            I regularized field names across the years (so that Contemporary / Modern Art and Modern / Contemporary Art
            became the same category) and also imputed fields manually in a few instances. In 2011-2012, Contemporary
            Art, Modern Art, Architecture and Design was a single category, and I sorted those jobs by hand into the
            appropriate categories that were used in all other years, based on the job descriptions. In 2020, a Visiting
            Positions / Limited-Term Appointments / Postdocs category appeared on the site, and I likewise sorted these
            into fields based on job description, and accounted for the temporary nature of these jobs in the rank
            category.
        </p>
        <p class="description">
            Finally, I also checked the data to make sure there weren't nonsensical combinations, such as a tenure-track
            postdoc, and manually corrected the data in the few records that needed correcting.
        </p>
        <p class="description">
            Known problems in the data include the fact that I chose not to try to account for instances in which two
            positions were advertised in one posting, and in the one case in which a job was determined to be in two
            completely distinct fields (Islamic Art or Latin-American Art), I arbitrarily put it in one of the fields,
            in an effort to keep the sum of the number of jobs in each field equal to the sum of all jobs.
        </p>
        <p class="description">
            The work described above yielded a JSON that I brought into this notebook, which you can see in the cell
            below.
        </p>
        <p class="description">This data was last scraped on December 19, 2020.</p>
        <h2 class="section-header">Field Creation</h2>
        <p class="description">
            When I brought the data into this notebook, there were 45 different fields. I decided that given that the
            highest number of jobs for any year was just over three times this number of fields, I needed to consolidate
            categories to create more coherence in the data. Some of the decisions I made in grouping things required a
            fair amount of judgment, and other completely defensible decisions could have been made that would make the
            data look different.
        </p>
        <p class="description">
            If you want to explore alternate groupings, you can edit the code that generates the fieldGroupings array
            below to reconfigure things. Edit the code by clicking the three dots that appear to the left of the cell
            when you hover over it. Changes won't be saved beyond a refresh of your browser. Also note that there are
            only enough distinct colors for 18 fields.
        </p>
        <p class="description">
            Generally speaking, I urge you to think critically about how groupings, small numbers, the fact that not all
            jobs in the field are posted to the Wiki, incomplete descriptions, and other factors make this data a good
            representation of the art history job market, but one that is certainly not perfect.
        </p>
        <h2 class="section-header">Results</h2>
        <h3 class="section-header">2021</h3>
        <h3 class="section-header">2020</h3>
        <p class="description">
            To no one's surprise, the Art History academic job market is pretty grim in 2020. This year there are 50
            jobs posted, while in the 9 years before this, the average number of job listings was 141 per year.
        </p>
        <p class="description">
            What was slightly surprising to me was that there wasn't a bigger drop off in jobs before 2019. (Too bad
            there is not data that could show us where things were before 2008.) 2019 is also an interesting year in
            that while the overall number of jobs was considerably down, almost all of the loses were in the Modern /
            Contemporary, Early Modern–19th Century, and General fields.
        </p>
    </div>
</div>
