@import 'vars', 'placeholders';

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-container {
    max-width: 1080px;

    .section-header {
        @extend %h3;
        text-align: center;
        padding-bottom: $space-1;
    }

    .description {
        max-width: 600px;
        line-height: 1.5;
        padding-bottom: $space-6;
    }
}
