<div class="project-container">
  <div class="top-matter-container">
    <p class="description">
      Inspired by similar efforts that I'd seen for Literature and History, I
      wanted to take a look at trends in the Art History job market via the jobs
      posted on the Academic Jobs Wiki.
    </p>
    <p class="description">
      This work is intended to help art historians or people considering an
      advanced degree in the field have a data-driven understanding of the job
      market. Users can not only view changes in the total number of jobs over
      time but also explore jobs by subfield, by tenure status and job rank, and
      by institution.
    </p>
    <app-data-acquisition></app-data-acquisition>
    <h2 class="section-header">Results</h2>
    <h3 class="section-header">2022</h3>
    <h3 class="section-header">2020</h3>
    <p class="description">
      To no one's surprise, the Art History academic job market is pretty grim
      in 2020. This year there are 50 jobs posted, while in the 9 years before
      this, the average number of job listings was 141 per year.
    </p>
    <p class="description">
      What was slightly surprising to me was that there wasn't a bigger drop off
      in jobs before 2019. (Too bad there is not data that could show us where
      things were before 2008.) 2019 is also an interesting year in that while
      the overall number of jobs was considerably down, almost all of the loses
      were in the Modern / Contemporary, Early Modern–19th Century, and General
      fields.
    </p>
  </div>
  <app-summary></app-summary>
  <app-explore></app-explore>
  <app-schools></app-schools>
</div>
