@import 'vars', 'placeholders';

:host {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.section-header {
    @extend %h3;
    text-align: center;
    padding-bottom: $space-1;
}

.charts-container {
    display: flex;
    padding-top: $space-4;
}

.time-range-chart-component {
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
}

.change-chart-component {
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
}
