<h2 class="section-header">Explore by Job Characteristics</h2>
<p class="description"
  >The charts below answer questions about the number of jobs or the share of
  jobs, and how those values changed over time. The default view looks at
  tenure-track and non-tenure track jobs, for all fields, over time. Use the
  interfaces in the data selections bar to modify fields, tenure statuses, and
  job ranks according to your interest. You can also use those interfaces to
  switch between count and percentage data, and to modify the years shown in the
  charts.
</p>
<app-explore-selections
  *ngIf="yearsRange$ | async as yearsRange"
  [yearsRange]="yearsRange"
></app-explore-selections>
<div class="charts-container">
  <app-explore-across-time-chart
    *ngIf="exploreDataService.acrossTimeData$ | async"
    class="time-range-chart-component"
  ></app-explore-across-time-chart>
  <app-explore-change-chart
    *ngIf="exploreDataService.changeData$ | async"
    class="change-chart-component"
  ></app-explore-change-chart>
</div>
