<div class="selection-container">
  <div class="selection-instructions"
    ><p class="instruction-label">Select a range of years</p
    ><p class="instruction-text"
      >Select the years that will be shown in the line chart.</p
    >
    <p class="instruction-text"
      >These years will also be used in the change across time bar chart to the
      right of the line chart.</p
    ></div
  >
  <app-years-selection
    class="time-range-slider-component selection-interface"
  ></app-years-selection
></div>
