<div class="selections-navbar">
    <p class="navbar-title">Selections</p>
    <p class="selections-instructions">Select data shown in the charts below using the following selectors.</p>
    <div class="selections-items">
        <p class="selection-name" (click)="toggleDropdown('fields')">Fields</p>
        <p class="selection-name" (click)="toggleDropdown('valuetype')">Data type</p>
        <p class="selection-name" (click)="toggleDropdown('timerange')">Time range</p>
        <p class="selection-name" (click)="toggleDropdown('filters')">Filters</p>
    </div>
</div>
