@import 'vars', 'placeholders';

.selections-navbar {
    height: $space-20;
    background: $color-light-gray-lightest;
}

.selections-instructions {
    @extend %sans-regular-italic;
    line-height: 1.3;
}

.navbar-title {
    @extend %sans-bold;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    line-height: 1;
}

.selections-items {
    display: flex;
    width: 70%;
    padding-top: $space-2;
    justify-content: space-between;

    .selection-name {
        @extend %sans-medium;
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        color: $color-highlight;
        line-height: 1;
    }
}
