@import 'vars', 'placeholders';

$icon-dimension: 16px;

.radio-input-container {
    display: flex;

    .hidden-input {
        @extend %hidden-input-element;
    }

    .radio-input-label {
        display: flex;
        align-items: center;
    }

    .icon {
        display: block;
        height: $icon-dimension;

        svg {
            display: block;
            height: $icon-dimension;
            width: $icon-dimension;
            margin-right: $grid-1;

            path {
                stroke: $color-highlight;
                fill: $color-highlight;
                stroke-width: 0.1;
            }
        }
    }
}
