<div class="checkbox-input-container">
    <input
        class="checkbox-input"
        [id]="uniqueId"
        type="checkbox"
        [formControl]="ngControl.control"
        [attr.aria-labelledby]="'label-' + uniqueId"
    />
    <label class="checkbox-input-label" [ngClass]="{ selected: selected }" [for]="uniqueId" [id]="'label-' + uniqueId">
        <app-svg-icon
            *ngIf="isStyledCheckbox"
            class="icon-component"
            [ngClass]="{ 'checkbox-selected-icon': selected, 'checkbox-unselected-icon': !selected }"
            [name]="getIconName()"
        ></app-svg-icon>
        <span class="label-text">{{ label }}</span>
    </label>
</div>
