<ng-container *ngIf="vm$ | async as vm">
  <div
    class="change-chart-container"
    *ngIf="exploreDataService.selections$ | async as selections"
  >
    <p class="instruction"
      >Show change between
      <span class="end-year">{{ selections.years.end }}</span> and</p
    >
    <app-change-chart-toggle
      [currentValue]="selections.changeIsAverage"
      [startYear]="selections.years.start"
      [endYear]="selections.years.end"
    ></app-change-chart-toggle>
    <p class="chart-title" [style.padding-left.px]="margin.left"
      >Change{{ vm.title.valueTypePercent }} in {{ vm.title.valueTypeCount }}
      {{ vm.title.fields }}
      <span class="tenure-rank">{{ vm.title.tenureAndRank }}</span> jobs
      {{ vm.title.disaggregation }}, {{ vm.title.years }}</p
    >
    <app-change-chart
      #changeChart
      class="chart-component"
      [config]="vm.chartConfig"
    >
      <ng-container svg-elements>
        <app-change-bars
          [config]="vm.dataMarksConfig"
          [barHeight]="vm.barHeight"
          [vicBarsHoverMoveActions]="hoverActions"
          (vicBarsHoverMoveOutput)="updateTooltipForNewOutput($event)"
        >
          <svg:g
            vic-x-quantitative-axis
            axis
            side="top"
            [config]="vm.xAxisConfig"
          ></svg:g>
          <!-- <vic-html-tooltip
            *ngIf="(tooltipConfig$ | async)?.show"
            [config]="tooltipConfig$ | async"
            [template]="htmlTooltip"
          ></vic-html-tooltip>
          <ng-template #htmlTooltip>
            <div *ngIf="tooltipData$ | async as tooltipData">
              <div
                [style.--color]="tooltipData.color"
                class="tooltip-container"
              >
                <p class="tooltip-label category">
                  <span class="value-label">{{ vm.categoryLabel }}</span>
                  {{ tooltipData.category }}
                </p>
                <div class="values-container">
                  <div class="secondary-values-container">
                    <p class="tooltip-label start-value"
                      ><span class="value-label">{{
                        selections.changeIsAverage
                          ? 'Avg. value'
                          : selections.years.start + ' value'
                      }}</span
                      >{{
                        tooltipData.datum.startValue
                          | appD3FormatPipe
                            : vm.dataMarksConfig.quantitative.valueFormat
                      }}</p
                    >
                    <p class="tooltip-label end-value"
                      ><span class="value-label">{{
                        selections.years.end + ' value'
                      }}</span
                      >{{
                        tooltipData.datum.endValue
                          | appD3FormatPipe
                            : vm.dataMarksConfig.quantitative.valueFormat
                      }}</p
                    >
                  </div>
                  <p class="tooltip-label change"
                    ><span class="value-label">Change</span
                    >{{ tooltipData.quantitative }}</p
                  >
                </div></div
              ><svg
                width="100%"
                height="12"
                [style.--width]="'20px'"
                class="svg-triangle"
              >
                <g class="svg-g">
                  <path
                    class="triangle-path"
                    d="M 0,0 10,12 20,0"
                    fill="white"
                  ></path>
                </g>
              </svg>
            </div>
          </ng-template> -->
        </app-change-bars>
      </ng-container>
    </app-change-chart>
  </div>
</ng-container>
