@use 'sass:color';
@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'colors';
@use 'typography' as *;

.change-chart-container {
  .instruction {
    padding: 0 grid(3) grid(1) grid(3);
    @include label-small;
    line-height: 1.2;

    .end-year {
      @include font-mono-expressive-semibold;
      color: colors.$highlight-default;
      font-size: 0.9rem;
    }
  }

  .change-chart-toggle {
    display: flex;
    padding: 0 grid(3) grid(8) grid(3);
    cursor: pointer;
  }

  .chart-title {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    line-height: 1.1;
    padding-bottom: grid(1);
  }

  .tenure-rank {
    @include font-sans-medium;
    color: colors.$highlight-default;
  }
}

.explore-change-tooltip {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  width: 200px;

  $tt-background-color: rgba(white, 0.95);
  $tt-outline-color: colors.$alt-neutral-85;

  .tooltip-container {
    background: $tt-background-color;
    border: 1px solid $tt-outline-color;
    padding: grid(2);
    border-radius: grid(1);
  }

  .tooltip-label {
    @include font-mono-expressive-regular;
    display: flex;
    flex-direction: column;
    line-height: 1rem;
  }

  .tooltip-label.category {
    line-height: 1.1;
    font-weight: 600;
    color: var(--color);
    border-bottom: 1px solid colors.$text;
    padding-bottom: grid(1);

    .value-label {
      color: colors.$text;
    }
  }

  .value-label {
    @include font-sans-medium;
    text-transform: uppercase;
    font-size: 0.7rem;
    line-height: 1rem;
    letter-spacing: 0.08rem;
  }

  .values-container {
    padding-top: grid(2);
    display: flex;
    flex-direction: column;
  }

  .secondary-values-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .tooltip-label.change {
    padding-top: grid(2);
  }

  .percent-sign {
    font-size: 0.9rem;
  }

  .svg-triangle {
    $x-offset: calc(50% - (var(--width) / 2));
    display: block;
    transform: translate(#{$x-offset}, -2px);
    fill: $tt-background-color;

    .triangle-path {
      fill: $tt-background-color;
      stroke: $tt-outline-color;
    }
  }
}
