<ng-container *ngIf="vm$ | async as vm">
  <p class="chart-title" [style.padding-left.px]="margin.left"
    >{{ vm.title }}</p
  >
  <vic-xy-chart
    class="chart-component"
    [margin]="margin"
    [height]="vm.height"
    [width]="width"
    [scaleChartWithContainerWidth]="{ width: true, height: false }"
  >
    <svg:g svg-elements>
      <svg:g
        vic-x-quantitative-axis
        side="top"
        [config]="vm.xAxisConfig"
      ></svg:g>
      <svg:g vic-y-ordinal-axis side="left" [config]="vm.yAxisConfig"></svg:g>
      <svg:g app-change-bars [config]="vm.dataMarksConfig"></svg:g>
    </svg:g>
  </vic-xy-chart>
</ng-container>
