<ng-container *ngIf="vm$ | async as vm">
  <vic-xy-chart
    class="chart-component"
    [margin]="margin"
    [height]="vm.height"
    [width]="width"
    [scaleChartWithContainerWidth]="{ width: true, height: false }"
  >
    <svg:g svg-elements>
      <svg:g vic-xy-background></svg:g>
      <svg:g
        vic-x-quantitative-axis
        side="bottom"
        [config]="vm.xAxisConfig"
      ></svg:g>
      <svg:g vic-y-ordinal-axis side="left" [config]="vm.yAxisConfig"></svg:g>
      <svg:g vic-data-marks-bars [config]="vm.dataMarksConfig"></svg:g>
    </svg:g>
  </vic-xy-chart>
</ng-container>
