@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'colors';
@use 'typography' as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-subheader {
  @include title-medium;
  text-align: center;
  padding-top: grid(4);
  padding-bottom: grid(6);
}

.description {
  max-width: var(--max-text-width);
  line-height: 1.65;
  padding-bottom: grid(6);
  width: 100%;
}

.external-link {
  @include font-sans-regular;
  color: colors.$highlight-default;

  &:hover {
    text-decoration: underline;
  }

  .open-in-new {
    transform: scale(0.85);
    position: relative;
    top: -3px;
    margin-left: grid(0.5);
  }
}
