<div class="filters-selection-container">
    <p class="selection-section-label">Filter jobs</p>
    <p class="selection-instructions">Select fields to view in the chart below.</p>
    <p class="selection-instructions">
        If you disaggregate by either tenure status or job rank, you will only be able to select one field at a time. If
        all fields are deselected, "All" will be automatically selected.
    </p>
    <p class="selection-section-label sub-selection">Tenure status</p>
    <app-button-group
        [options]="tenureFilterOptions"
        group="tenure"
        (newSelection)="updateTenureFilterSelection()"
        class="button-toggle"
    ></app-button-group>
    <ng-container *ngFor="let option of tenureOptions; let i = index">
        <input
            *ngIf="tenureIsFilter()"
            class="tenure-radio-input"
            type="radio"
            name="tenure"
            [id]="'tenure-input-' + i"
            (click)="updateTenureFilterSelection()"
        />
        <input
            *ngIf="!tenureIsFilter()"
            class="tenure-checkbox-input"
            type="checkbox"
            name="tenure"
            [id]="'tenure-input-' + i"
        />
        <label class="tenure-input-label" [ngClass]="{ selected: option.selected }" [for]="'tenure-input-' + i">{{
            option.label
        }}</label>
    </ng-container>

    <p class="selection-section-label sub-selection">Job rank</p>
    <app-button-group
        [options]="rankFilterOptions"
        group="rank"
        (newSelection)="updateRankFilterSelection()"
        class="button-toggle"
    ></app-button-group>
    <ng-container *ngFor="let option of rankOptions; let i = index">
        <input *ngIf="rankIsFilter()" class="rank-radio-input" type="radio" name="rank" [id]="'rank-input-' + i" />
        <input
            *ngIf="!rankIsFilter()"
            class="rank-checkbox-input"
            type="checkbox"
            name="tenure"
            [id]="'rank-input-' + i"
            (click)="updateRankFilterSelection()"
        />
        <label class="rank-input-label" [ngClass]="{ selected: option.selected }" [for]="'rank-input-' + i">{{
            option.label
        }}</label>
    </ng-container>
</div>
