<ng-template #option>
  <div class="option-container">
    <ng-container *ngIf="isSelected()">
      <ng-container *ngTemplateOutlet="selectedIcon"></ng-container>
    </ng-container>
    <ng-container *ngIf="!isSelected()">
      <ng-container *ngTemplateOutlet="unselectedIcon"></ng-container>
    </ng-container>
    <div #label class="option-label" [attr.aria-label]="ariaLabel"
      ><ng-content></ng-content
    ></div>
  </div>
</ng-template>

<ng-template #selectedIcon
  ><ng-content select="[selectedIcon]"></ng-content>
</ng-template>
<ng-template #unselectedIcon
  ><ng-content select="[unselectedIcon]"></ng-content>
</ng-template>
