<ng-template #option>
  <div class="listbox-option-container">
    @if (isSelected()) {
      <ng-container *ngTemplateOutlet="selectedIcon"></ng-container>
    } @else {
      <ng-container *ngTemplateOutlet="unselectedIcon"></ng-container>
    }
    <div #label class="listbox-option-label" [attr.aria-label]="ariaLabel"
      ><ng-content></ng-content
    ></div>
  </div>
</ng-template>

<ng-template #selectedIcon
  ><ng-content select="[selectedIcon]"></ng-content>
</ng-template>
<ng-template #unselectedIcon
  ><ng-content select="[unselectedIcon]"></ng-content>
</ng-template>
