@import 'vars', 'placeholders';

.select-with-filtering-container {
  width: 100%;

  .select-with-filtering-input.mat-autocomplete-trigger {
    @extend %mat-input-placeholder;
    border: 1px solid $color-light-gray-light;
    border-radius: 4px;
    width: 100%;
    padding: calc($mat-form-field-vertical-padding - 4px)
      calc($mat-form-field-horizontal-padding - 4px);

    &.focus-visible {
      outline: 1px solid $color-dark-primary;
      outline-offset: 0;
    }
  }
}

.nc-dash-select-with-filtering-panel {
  &.mat-autocomplete-visible {
    box-shadow: $drop-shadow-light;
    max-height: 160px;
    overflow-y: auto;
    min-width: initial;
  }

  .mat-option {
    @extend %mat-option;
  }
}
