<div class="select-with-filtering-container">
    <input
        class="select-with-filtering-input"
        type="text"
        [formControlName]="formControlName"
        [placeholder]="placeholder"
        [matAutocomplete]="auto"
        [ngStyle]="{ 'text-align': textAlign }"
    />
    <mat-autocomplete
        #auto="matAutocomplete"
        [class]="'nc-dash-select-with-filtering-panel' + ' ' + overlayClass"
        [disableRipple]="true"
    >
        <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
            [ngStyle]="{ 'text-align': textAlign }"
        >
            {{ option }}
        </mat-option>
    </mat-autocomplete>
</div>
