@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'mixins' as *;
@use 'typography' as *;
@use 'colors';

$breakpoint-1: 690px;
$breakpoint-2: 620px;
$breakpoint-3: 519px;
$breakpoint-4: 400px;

:host {
  @extend %navbar;
  display: flex;
  align-items: center;
}

.nav-container {
  display: grid;
  grid-template-columns: minmax(auto, 1fr) 2fr minmax(auto, 1fr);
  width: 100%;
}

.project-name {
  @include title-large;
  padding-top: grid(2);
  text-align: center;
  align-self: end;
  font-size: clamp(1rem, 2vw + 0.75rem, 1.83rem);
  line-height: 1;
  position: relative;
  top: 1px;
}

.return-button {
  @include font-mono-expressive-bold;
  cursor: pointer;
  align-self: center;
  display: flex;
  align-items: center;
  line-height: 1rem;
  padding-top: grid(2);
  padding-right: grid(1);
  transition: all 0.2s ease-in-out;
  font-size: clamp(0.8rem, 1.2vw, 1rem);

  &:hover {
    color: colors.$highlight-default;
  }
}

.return-text {
  padding-left: grid(3);
}

.arrow {
  rotate: 180deg;
  transform-origin: center;
}
