@import 'vars', 'placeholders';

.jobs-by-field-container {
    .charts-container {
        display: flex;
    }

    .stacked-area-y-axis-label {
        @extend %small-caps-overline;
        line-height: 1.2;
    }

    app-art-history-table .table-component {
        width: 400px;
        margin-top: 9px;

        .header .header-contents {
            font-size: 0.8rem;
        }

        .arrow {
            font-size: 0.75rem;
        }

        .tbody .cell.data {
            @extend %slab-medium;
            font-size: 0.85rem;
            padding: $space-2 $space-2 $space-1 $space-2;

            &.right {
                @extend %sans-regular;
                font-size: 0.95rem;
                transform: translate(0, -2px);
                line-height: 1;
            }
        }

        .header.row .header.cell,
        .data.row .data.cell {
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }
}
