<div class="jobs-by-field-container">
    <h3>All jobs by field, 2011&ndash;2021</h3>
    <div class="charts-container">
        <app-art-history-stacked-area-chart
            [data]="dataForChart"
            [x]="stackedAreaOptions.x"
            [y]="stackedAreaOptions.y"
            [z]="stackedAreaOptions.z"
            [width]="stackedAreaOptions.width"
            [height]="stackedAreaOptions.height"
            [keyOrder]="stackedAreaOptions.keyOrder"
            [colorScale]="stackedAreaOptions.colorScale"
            [yLabel]="stackedAreaOptions.yLabel"
            [xScaleType]="stackedAreaOptions.xScaleType"
            [tooltipFormat]="stackedAreaOptions.tooltipFormat"
            [xFormat]="stackedAreaOptions.xFormat"
            [showTooltip]="stackedAreaOptions.showTooltip"
        >
        </app-art-history-stacked-area-chart>
        <app-art-history-table
            #table
            [headers]="tableHeaders"
            [rows]="dataForTable"
            (sortedFields)="handleTableSort()"
        ></app-art-history-table>
    </div>
</div>
