@use 'vars' as *;
@use 'placeholders' as *;
@use 'typography' as *;
@use 'functions' as *;
@use 'colors';

.card {
  @extend %flex-column;
  width: 100%;
  margin-bottom: grid(5);

  .question-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 grid(1) 0;
    padding-left: grid(1);
    transition: all 0.25s ease-in-out;

    &.collapsed {
      background: var(--color-purple-background);
    }

    &.collapsable:hover {
      cursor: pointer;
      background: var(--color-purple-hover);
    }
  }

  .question {
    @include title-medium;
    font-variation-settings:
      'wght' 500,
      'CASL' 0.5,
      'MONO' 0,
      'slnt' 0;
    font-size: 1.2rem;
    padding: grid(3) grid(2) grid(2) grid(2);
    line-height: 1.4rem;
    text-align: left;
  }

  .answer-container {
    @include body-small;
    padding: grid(8) grid(8);
    border: 1px solid var(--color-lime);
  }

  .answer-text {
    @include body-small;
    font-size: clamp(0.95rem, 1vw + 0.5rem, 1rem);
    line-height: 1.65;

    &:not(:last-child) {
      padding-bottom: grid(6);
    }
  }

  .list-label {
    font-style: italic;
    padding-bottom: grid(2);

    &.q10 {
      padding-top: grid(4);
    }
  }

  .list-container {
    @include body-small;
    padding: 0 grid(6) grid(2) grid(6);
  }

  .list-item {
    padding-bottom: grid(2);
  }

  .italics {
    font-style: italic;
  }

  .arrow-icon {
    padding: 0 grid(2);
    position: relative;
    top: grid(1.5);

    &.down {
      position: relative;
      top: grid(1);
    }

    &.up {
      position: relative;
      top: -grid(1);
    }

    svg {
      height: 14px;
      width: 21px;
      fill: colors.$text;
      stroke: colors.$text;
    }
  }
}
