<app-filters-selection></app-filters-selection>
<app-field-selection></app-field-selection>
<app-years-selection></app-years-selection>
<form *ngIf="form" [formGroup]="form" class="explore-selections-filter-container">
    <app-selection-section class="selection-section-component data-type">
        <p title class="selection-title">Select a type of data</p>
        <p instructions class="selection-instructions">
            Select whether you would like to see the total number of jobs for each year or the number of jobs for a
            selection as a share of all jobs.
        </p>
        <div content>
            <app-form-radio-input
                *ngFor="let option of dataTypeOptions"
                class="radio-input-component data-type"
                formControlName="dataType"
                [option]="option"
                [isStyledRadio]="true"
            ></app-form-radio-input>
        </div>
    </app-selection-section>
    <app-selection-section class="selection-section-component years">
        <p title class="selection-title">Select a date range</p>
        <p instructions class="selection-instructions">
            Select whether you would like to see the total number of jobs for each year or the number of jobs for a
            selection as a share of all jobs.
        </p>
        <app-years-selection content [years]="yearsRange" formControlName="years"></app-years-selection>
    </app-selection-section>
    <app-selection-section class="selection-section-component fields">
        <p title class="selection-title">Select fields</p>
        <div instructions class="selection-instructions">
            <p>Select fields to view in the chart below</p>
            <p>
                If you disaggregate by either tenure status or job rank, you will only be able to select one field at a
                time. If all fields are deselected, "All" will be automatically selected.
            </p>
        </div>
        <div content class="checkbox-container">
            <div class="field-checkbox" *ngFor="let field of fieldOptions">
                <input class="field-checkbox-input" type="checkbox" formControlName="fields" />
                <label
                    class="field-checkbox-label"
                    [ngClass]="{ selected: field.selected }"
                    [style.--color]="field.color"
                    >{{ field.name.full }}
                </label>
            </div>
        </div>
    </app-selection-section>
    <app-selection-section class="selection-section-component filters">
        <p title class="selection-title">Filter jobs</p>
        <div instructions class="selection-instructions">
            <p>Select fields to view in the chart below</p>
            <p>
                If you disaggregate by either tenure status or job rank, you will only be able to select one field at a
                time. If all fields are deselected, "All" will be automatically selected.
            </p>
        </div>
        <div content></div>
    </app-selection-section>
</form>
