<app-navbar class="navbar" id="landing-navbar"></app-navbar>
<div class="landing-container" id="landing-container">
    <div class="intro-container">
        <app-about [id]="sections.about + '-id'" class="about-component"></app-about>
        <app-projects-table [id]="sections.projects + '-id'" class="projects-table-component"></app-projects-table>
    </div>
    <ng-container *ngFor="let project of projects">
        <app-project-overview [project]=project></app-project-overview>
    </ng-container>
</div>
