@import 'vars', 'placeholders', 'mixins';

$min-height: 300px;

:host {
    @extend %flex-column;
    height: 100%;
    min-height: $min-height;
    overflow-y: auto;
    font-family: 'Source Sans Pro';
}

.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    flex-shrink: 0;
}

.landing-container {
    @extend %flex-column;
    align-items: center;
    padding: $grid-20 $grid-6 $grid-12 $grid-6;

    @include breakpoint(mobile-device) {
        padding: $grid-12 $grid-4 $grid-4 $grid-4;
    }

    * {
        max-width: 1000px;
    }

    *:not(:last-child) {
        padding-bottom: 7rem;
    }
}
