@use 'vars' as *;
@use 'placeholders' as *;
@use 'mixins' as *;
@use 'functions' as *;

$min-height: 300px;

:host {
  @extend %flex-column;
  height: 100%;
  min-height: $min-height;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  flex-shrink: 0;

  @include breakpoint(mobile-device) {
    padding-right: grid(4);
    padding-left: grid(4);
  }
}

.landing-container {
  @extend %flex-column;
  margin: 0 auto;
  max-width: 720px;
  padding-top: grid(16);
  gap: grid(28);
  padding-bottom: grid(16);

  @include breakpoint(mobile-device) {
    padding: grid(1) 2 grid(4) grid(4) grid(4);
    gap: grid(14);
  }
}
