@import 'vars', 'placeholders';

$min-height: 300px;

:host {
    @extend %flex-column;
    height: 100%;
    min-height: $min-height;
    overflow-y: auto;
    font-family: 'Source Sans Pro';
}

.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.landing-container {
    height: calc(100% - #{$navbar-height});
}

.intro-container {
    @extend %flex-column;
    min-height: 100%;
}

.about-component {
    padding: 72px 0;
}

.projects-table-component {
    @extend .about-component;
}
