@import 'vars', 'mixins';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0% 10% 4% 10%;
  max-width: $landing-page-max-width;
}

.name {
  font-size: 6rem;
  font-family: 'Roboto Mono';
  color: transparent;
  text-shadow: 6px 6px $name-text-color;
  -webkit-text-stroke-width: 1px;
  -moz-text-stroke-width: 1px;
  -webkit-text-stroke-color: $green-highlight;
  -moz-text-stroke-color: $green-highlight;
  margin-top: 1rem;
  text-align: center;
}
