@use 'vars' as *;
@use 'placeholders' as *;
@use 'typography' as *;
@use 'mixins' as *;
@use 'functions' as *;

.table-container {
  max-width: 1020px;
  padding-top: grid(4);

  @include breakpoint(mobile-device) {
    padding: 0;
  }

  .projects-table {
    table-layout: auto;
    border-collapse: collapse;
    width: 900px;

    @media screen and (max-width: 1000px) {
      max-width: 1000px;
      width: initial;
    }
  }

  .table-row {
    transition: background-color 0.2s ease-in-out;

    &:not(.open) {
      border-bottom: 1px solid $color-highlight-light;
    }

    &.expanded {
      border-bottom: 1px solid transparent;
    }
  }

  .table-row.body.index {
    cursor: pointer;
  }

  .table-row.body.index:hover {
    color: $color-highlight;
  }

  .table-row.body.index:hover:not(.expanded) {
    background: $color-light-gray-lightest;
  }

  .table-cell.header {
    @include label-xs-caps;
    @extend %sans-medium;
    font-variation-settings:
      'wght' 700,
      'MONO' 0,
      'CASL' 0,
      'slnt' 0;
    letter-spacing: 0.06em;
    text-align: left;
    padding-bottom: grid(1);

    &.year {
      text-align: right;
    }
  }

  .table-cell.body {
    @include label-medium;
    text-align: left;
    padding: grid(6) grid(4) grid(6) grid(0);

    @include breakpoint(mobile-device) {
      font-size: 0.9rem;
    }

    &.view {
      @include label-medium-caps;
    }

    &.description {
      width: 100%;
    }

    &.year {
      text-align: right;
    }

    &.more {
      padding-left: grid(2);
    }
  }

  .asterisk {
    position: relative;
    top: -6px;
    padding-left: grid(0.5);
  }

  .arrow-icon {
    position: relative;

    &.collapsed {
      top: grid(1);
    }

    &.expanded {
      top: -#{grid(0.5)};
    }

    svg {
      overflow: visible;
      display: block;
      width: grid(5);
    }
  }

  .project-overview-component {
    display: block;
    padding-top: grid(2);
    padding-bottom: grid(4);
  }
}

.asterisk-text {
  @include body-small;
  align-self: flex-start;
  padding-top: grid(3);
}
