@use 'sass:color';
@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'colors';

.arrows-container {
  $arrow-color: colors.$text;
  $arrow-color-unselected: colors.$neutral-70;

  display: flex;

  .arrow {
    line-height: 0.6;
    color: $arrow-color-unselected;
  }

  &.asc {
    .arrow.up {
      font-weight: 700;
      color: $arrow-color;
    }
  }
  &.desc {
    .arrow.down {
      font-weight: 700;
      color: $arrow-color;
    }
  }
}
