@use 'sass:color';
@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;

.arrows-container {
  $arrow-color: $color-dark-primary;
  $arrow-color-unselected: color.scale($arrow-color, $lightness: 75%);

  display: flex;
  flex-direction: column;

  .arrow {
    line-height: 0.6;
    color: $arrow-color-unselected;
  }

  &.asc {
    .arrow.up {
      color: $arrow-color;
    }
  }
  &.desc {
    .arrow.down {
      color: $arrow-color;
    }
  }
}
