<div
  class="textbox-container"
  [class.open]="service.isOpen$ | async"
  #textInputTemplate
>
  <input
    #box
    class="combobox-textbox"
    [attr.type]="inputType"
    role="combobox"
    tabindex="0"
    [id]="service.id + '-textbox'"
    (click)="handleClick()"
    (blur)="handleBlur($event)"
    (keydown)="handleKeydown($event)"
    autocomplete="off"
    [attr.aria-labelledby]="service.comboboxLabelId"
    [attr.aria-activedescendant]="service.activeDescendant$ | async"
    [attr.aria-expanded]="service.isOpen$ | async"
    [attr.aria-autocomplete]="autocomplete"
    [attr.aria-controls]="service.id + '-listbox'"
    aria-haspopup="listbox"
    data-cy="measure-table-search-input"
    [placeholder]="placeholder"
    [ngModel]="value"
    (ngModelChange)="onInputChange($event)"
  />
  <div class="textbox-icon" [class.open]="service.isOpen$ | async">
    <ng-content select="[boxIcon]"></ng-content
  ></div>
</div>
