<div
  class="editable-textbox-container"
  [class.open]="service.isOpen$ | async"
  #textInputTemplate
>
  <input
    #box
    class="editable-textbox-input"
    [attr.type]="inputType"
    role="combobox"
    tabindex="0"
    [id]="service.id + '-textbox'"
    (click)="handleClick()"
    (blur)="handleBlur($event)"
    (keydown)="handleKeydown($event)"
    autocomplete="off"
    [attr.aria-label]="
      (service.label$ | async) === null
        ? ariaLabel || placeholder || service.isMultiSelect
          ? 'Search and select options'
          : 'Search and select an option'
        : null
    "
    [attr.aria-labelledby]="
      (service.label$ | async) !== null ? service.comboboxLabelId : null
    "
    [attr.aria-activedescendant]="service.activeDescendant$ | async"
    [attr.aria-expanded]="service.isOpen$ | async"
    [attr.aria-autocomplete]="service.autoComplete"
    [attr.aria-controls]="service.id + '-listbox'"
    aria-haspopup="listbox"
    data-cy="editable-textbox-input"
    [placeholder]="placeholder"
    [ngModel]="value$ | async"
    (ngModelChange)="onInputChange($event)"
  />
  <div
    class="textbox-icon editable-textbox-icon"
    [class.open]="service.isOpen$ | async"
  >
    <ng-content select="[boxIcon]"></ng-content
  ></div>
</div>
