<div #div class="line-chart-container" [style.maxWidth.px]="options.width" [style.maxHeight.px]="options.height">
    <svg
        #svg
        [attr.width]="div.offsetWidth"
        [attr.height]="div.offsetWidth | resizeChartHeight: options.height:options.width"
        attr.style="'max-width: 100%; height: auto; height: intrinsic;'"
        (touchstart)="onTouchStart($event)"
        (pointerenter)="onPointerMove($event)"
        (pointerleave)="onPointerLeave($event)"
        (pointermove)="onPointerMove($event)"
    >
        <g class="chart-g">
            <g *ngIf="options.background" class="chart-background-g">
                <rect
                    #background
                    [attr.x]="xScale.range()[0]"
                    [attr.y]="yScale.range()[1]"
                    [attr.width]="xScale.range()[1] - xScale.range()[0]"
                    [attr.height]="yScale.range()[0] - yScale.range()[1]"
                    [attr.fill]="options.background.color"
                ></rect>
            </g>
            <g #xAxis class="x-axis-g"></g>
            <g #yAxis class="y-axis-g"></g>
            <g
                #lines
                class="lines-g"
                fill="none"
                [attr.stroke-linecap]="options.stroke.linecap"
                [attr.stroke-linejoin]="options.stroke.linejoin"
                [attr.stroke-width]="options.stroke.width"
                [attr.stroke-opacity]="options.stroke.opacity"
            ></g>
            <g #markers class="lines-g"></g>
            <g #lineLabels class="line-labels-g"></g>
        </g>
    </svg>
</div>
