@import "mixins", "vars";

.about-container {
  @include flex-column;
  height: 600px;
  width: 900px;
  background: linear-gradient(0deg, white, $pink-gradient);
}

.initial {
  font-family: "Roboto Mono";
  font-size: 48px;
  color: transparent;
  text-shadow: 6px 6px $name-text-color;
  -webkit-text-stroke-width: 1px;
  -moz-text-stroke-width: 1px;
  -webkit-text-stroke-color: $green-highlight;
  -moz-text-stroke-color: $green-highlight;

  &.first-initial {
    position: absolute;
    top: 150px;
    left: 60px;
    transform: rotate(-30deg) skewX(-30deg) scaleY(0.86);
  }
  &.last-initial {
    position: absolute;
    top: 153px;
    left: 90px;
    transform: rotate(30deg) skewX(30deg) scaleY(0.86);
  }
}
