<div class="about-component-encapsulation-container">
  <h2 class="section-header">about</h2>
  <p class="about-text overview">
    I am a product engineer / designer-developer hybrid who builds interfaces
    that prioritize intelligibility, utility, and delight and solve real-world
    needs. I love translating between quantitative data, language, and visual
    representation, and developing systematic solutions to both engineering and
    design challenges. My approach to this work draws significantly on my
    training as an architect and historian.
  </p>
  <button
    class="expand-button"
    [class.expanded]="expanded"
    (click)="toggleMore()"
    (pointerenter)="hovered = true"
    (pointerleave)="hovered = false"
    >{{ toggleText }}
    <app-expand-arrow
      class="arrow-icon"
      [class.expanded]="expanded"
      [class.collapsed]="!expanded"
      [expanded]="expanded"
      [hovered]="hovered"
      [compact]="true"
    ></app-expand-arrow>
  </button>
  @if (expanded) {
    <div class="expanded-content">
      <p class="about-text">
        Currently, I lead design and frontend development on high-complexity,
        data-heavy public-sector applications at Mathematica, a quantitative
        public policy research firm. I joined in 2019 as the company’s first
        design-focused hire on the web team. Since then, I have grown and led
        the design practice, served as the frontend lead for our most demanding
        web-based deliverables, mentored both designers and engineers, and led
        our frontend delivery practice.
      </p>
      <p class="about-text">My work includes:</p>
      <ul class="about-text list">
        <li class="list-item"
          >Architecting frontend systems that model and handle complex,
          multi-schema, semantically rich data clearly and precisely.</li
        >
        <li class="list-item"
          >Designing data visualization and UI component libraries with
          type-safe APIs that balance developer experience and architectural
          flexibility</li
        >
        <li class="list-item"
          >Owning the end-to-end experience and delivery of large-scale,
          public-facing deliverables and shaping application structure, flows,
          language, and visual hierarchy from early-stage client conversations
          through product launch and ongoing enhancements.</li
        >
      </ul>
      <p class="about-text">
        Before moving into data visualization and interface work in 2017, I
        spent many years in the field of architecture (M.Arch and PhD in the
        History, Theory, and Criticism of Architecture and Art). My current work
        designing interfaces, systems, and developer tools builds on that
        background, facilitating continued inquiry into how to organize evidence
        for an audience, how to represent and structure complex information, and
        how to make meaning legible through the development of consistent and
        coherent systems of design.
      </p>
    </div>
  }
</div>
