<div class="about-container">
  <p class="about-text">
    I am a curious individual broadly interested in how knowledge is produced. I
    am trained as an engineer, designer, and historian, and now design and
    develop interactive data visualizations and data-driven web applications at
    Mathematica Policy Research. Before I became involved with web-based
    information design and production, I spent a number of years in
    architecture, first as a designer and then as a historian and educator. I am
    thrilled that my current work allows me to synthesize my creative and
    analytic abilities with a long-standing interest in the role of
    quantification in society, and to engage with contemporary modes of
    knowledge production.
  </p>
  <p class="about-text interests-text">
    I live in Cambridge, Massachusetts and use she/her pronouns. My last name is
    pronounced "turk". My favorite free-time activites include rock climbing,
    running, rehabing my sports-related injury of the month, recreating dishes I
    ate when I lived in Singapore, attempting to finish a full week's worth of
    NYT Crosswords, and watching international films.
  </p>
  <p class="about-text interests-text">
    You can find more about me on the following sites:
  </p>
  <app-svg-icon class="linkedin-icon icon" name="linkedin"></app-svg-icon>
  <app-svg-icon class="twitter-icon icon" name="twitter"></app-svg-icon>
  <app-svg-icon class="github-icon icon" name="github"></app-svg-icon>
  <app-svg-icon class="observable-icon icon" name="observable"></app-svg-icon>
  <app-svg-icon class="mubi-icon icon" name="mubi"></app-svg-icon>
  <app-svg-icon
    class="librarything-icon icon"
    name="librarything"
  ></app-svg-icon>
</div>
