<h2 class="about-title">about</h2>
<p class="about-text">
  I design and develop applications that transform data into information. This
  work is informed by my education and experience as an architect, engineer, and
  historian.
</p>
<button class="read-more" (click)="toggleMore()">{{ toggleText }}</button>
<ng-container *ngIf="expanded">
  <p class="about-text">
    Currently, I lead design and frontend development practices at Mathematica,
    a quantitative public-policy research firm. (formerly known as Mathematica
    Policy Research, no relation to Wolfram). Historically, Mathematica has
    synthesized very very large datasets into large datasets for its clients,
    and delivered work via long reports with tables and perhaps charts in the
    appendices. In 2020, I joined a small web development team at the company as
    the first person to focus on design, and have since focused on building the
    company's capacity to deliver professional-quality web applications that
    allow clients to explore the results of the company's data analytics work in
    an interactive format.
  </p>
  <p class="about-text">
    Before entering the world of data visualization in mid-2017, I spent many
    years in the field of architecture (M.Arch and PhD in History, Theory, and
    Criticism of Architecture), and before that, majored in both Civil
    Engineering and Urban Studies as an undergrad. Although data visualization
    may seem like a departure from that path, in my mind it is much more a
    synthesis of it. Data visualization, to me, involves drawing together
    evidence to make an argument in the same way that a historian makes an
    argument from primary sources, and it allows me to combine my design and
    analytic sensibilities in a single endeavor that is fundamentally concerned
    with making information public. I also enjoy that it places me in close
    proximity to practices that seek to build quantitative understandings of the
    world, a subject that I have very much enjoyed thinking critically about
    since taking two very influential courses on the history of measurement,
    statistics, and probability in society as a PhD student.
  </p>
  <p class="about-text">
    My non-work hobbies include running, rock climbing, international travel,
    watching mostly non-American films, and cooking mostly non-American food :).
    I am based in Cambridge/Somerville, MA.
  </p>
</ng-container>
