@import 'mixins', 'vars', 'placeholders';

:host {
    @extend %flex-column;
    align-items: center;
}

.about-title {
    @extend %section-header;
}

.about-text {
    @extend %body1;
    text-align: justify;
    max-width: 800px;
    padding-bottom: $grid-3;

    &:first-of-type {
        text-align: center;
        @include breakpoint(mobile-device) {
            text-align: justify;
        }
    }
}

.read-more {
    @extend %button;
    @extend %button-styles;
    @extend %button-behavior;
}
