@import 'vars', 'placeholders';

.title {
    @extend %slab-bold;
    padding: 1.5rem 0 0.25rem 0;
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    border-bottom: 1px solid $dark-primary;
}

.leave-comment-button {
    @extend %comment-button;
    font-size: 1.2rem;
    padding: 0.6rem 0.75rem 0.5rem 0.75rem;
}

.comment-input {
    @extend %sans-regular;
    display: block;
    background: $highlight-light;
    padding: 0.375rem 0.75rem;
    border: none;
    border-bottom: 1px solid $dark-primary;

    &.text {
        resize: none;
    }
}

.create-comment-component {
    display: block;
}

.comment-component {
    display: block;
    padding-bottom: 1.5rem;
}
