@use '../../core/styles/spacing';

:host {
  display: flex;
}

.vic-legend-canvas {
  display: block;
}

.vic-legend-color-scale.vic-horizontal {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: var(--width);

  .vic-legend-canvas-container {
    display: flex;
    flex-direction: column;
    width: calc(var(--width) - calc(var(--value-space) * 2));
    height: var(--height);
    margin-right: var(--value-space);
    margin-left: var(--value-space);
  }

  .vic-legend-values-container {
    padding-top: spacing.grid(1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .vic-value {
    width: calc(var(--value-space) * 2);
    text-align: center;
  }

  &.vic-top {
    .vic-legend-values-container {
      padding-top: 0;
      padding-bottom: spacing.grid(1);
    }
  }
}

.vic-legend-color-scale.vic-vertical {
  display: flex;
  max-height: var(--height);

  .vic-legend-canvas-container {
    width: var(--width);
    height: calc(var(--height) - calc(#{grid-2} * 2));
    margin-top: spacing.grid(2);
    margin-bottom: spacing.grid(2);
  }

  .vic-legend-values-container {
    padding-right: spacing.grid(1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  &.vic-right {
    .vic-legend-values-container {
      padding-right: 0;
      padding-left: spacing.grid(1);
      align-items: flex-start;
    }
  }
}

.vic-legend-canvas-container {
  border: 1px solid var(--border-color);
}

.vic-value {
  font-size: 12px;
}
