@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'colors';
@use 'typography' as *;

.bars-styles-encapsulation-container {
  .vic-background-bar {
    fill: colors.$neutral-97;
  }

  .data-value-label {
    cursor: default;
  }

  .axis-container {
    opacity: 0.6;
  }

  .zero-axis {
    stroke: colors.$text;
    stroke-dasharray: 2 2;
    stroke-width: 2;
  }

  .vic-bars-div {
    display: flex;
    padding-bottom: grid(2);

    .bar-category-label {
      font-size: 0.875rem;
      letter-spacing: 0.1px;
    }

    &.column {
      flex-direction: column;

      .bar-category-label {
        text-align: left;
        padding-bottom: grid(1);
      }
    }
  }

  .bar-category-label {
    flex-shrink: 0;
    line-height: 1;
  }

  .vic-chart-svg {
    overflow: visible;
  }
}
