<section class="section metedata">
  <p class="description">Case Study</p>
  <p class="description">Federal Heathcare Data Platform</p>
  <p class="description">Design Lead + Frontend Lead</p>
  <p class="description">Feb 2023–Present</p>
</section>
<section class="section">
  <p class="section-title">Project Background</p>
  <p class="description"
    >The Medicaid and CHIP Scorecard is a public-facing data platform that the
    federal Medicaid program supports to share state- and national-level data
    about health care utilization and outcomes, expenditures, and program
    administration with state Medicaid programs, researchers, and the public.</p
  >
  <p class="description"
    >The site was first released in 2018 and featured rudimentary data displays
    of a curated set of measures within the Medicaid.gov content management
    system. A number of organizations, including the National Association for
    (state) Medicaid Directors,
    <a href="https://syrtissolutions.com/cms-releases-medicaid-scorecard/"
      >noted the shortcomings</a
    >
    of the data, and Medicaid itself had a strong desire to expand the Scorecard
    into a more robust and interactive product.</p
  >
  <div class="caption-container">
    <caption class="gutter-image-caption">2018 Scorecard</caption></div
  >
  <aside class="gutter-item">
    <img
      src="assets/federal-data-platform/scorecard_2018_2.png"
      alt="Screenshot of the 2018 Medicaid and CHIP Scorecard"
      class="gutter-image"
    />
  </aside>
  <p class="description"
    >A new, three-year development contract was awarded in 2021 to rebuild the
    site with these concerns in mind. In winter 2022-2023, with development
    progress stalled on that contract, Mathematica (where I work, who also has
    the contract for aggregating the data that drives Scorecard) took on the
    development contract for the revised site, with the intention of delivering
    by the end of the original three-year development contract, i.e. in less
    than a year.</p
  >
  <p class="description"
    >I was brought on to lead frontend development of the site in February 2023.
    In this capacity, I very early on identified how the data for the project
    did not in fact support the proposed new design, as well as significant UX
    issues with that design. A decision was made that undertaking a new design
    effort that correctly surfaced the data and provided a clear plan for
    development was the only way to deliver a product by end of year.</p
  >
</section>
<section class="section">
  <p class="section-title">Design Approach</p>
  <p class="description"
    >From March through June of 2023, I led the redesign effort for the site
    along with two wonderful designers on my team at Mathematica, working
    closely with project leaders at Medicaid to understand requirements and
    validate design work.</p
  >
</section>
<section class="section"></section>
