@use 'functions' as *;
@use 'typography' as *;
@use 'colors';
@use 'mixins' as *;

$single-col-breakpoint: 900px;
$annotation-image-max-width-narrow-screen: 420px;

:host {
  width: 100%; // ensures that wide constainers shrink with browser window
  min-height: 100vh;

  --grid-col-width: 148px;
  --mermaid-bg-color: #{colors.$neutral-90};
  --mermaid-stroke-color: none;
  --mermaid-primary-text-color: #{colors.$text};
  --mermaid-edge-label-bg-color: #{colors.$neutral-98};
  --mermaid-edge-label-color: #{colors.$text};
  --mermaid-edge-path-color: #{colors.$neutral-30};
}

// UTILITY CLASSES
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.section {
  display: grid;
  grid-template-columns: 1fr 48px repeat(9, minmax(0, 148px)) 48px 1fr;
  margin-bottom: grid(12);
}

.section > .title {
  @include label-medium;
  @include font-sans-medium;
  border-bottom: 4px solid var(--color-project-highlight);
  margin-bottom: grid(4);
  padding-bottom: grid(4);
}

.main {
  grid-column: 3 / 8;

  @include breakpoint-max(900px) {
    grid-column: 3 / 12;
  }

  &.text {
    margin-right: grid(1);
  }
}

.leader-line {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-top: 1px solid #b3bcbc; //neutral-75
  grid-column: 8 / 9;
  margin: grid(3) grid(4) 0 grid(2);

  @include breakpoint-max(900px) {
    display: none;
  }
}

.annotation {
  @include body-xs;
  grid-column: 9 / 12;

  @include breakpoint-max(900px) {
    grid-column: 3 / 12;
  }
}

.annotation-container {
  overflow-y: visible;
  height: 0;

  @include breakpoint-max(900px) {
    height: initial;
    overflow-y: initial;
  }
}

.annotation > .title {
  @include font-sans-medium;
  margin-bottom: grid(2);
}

.old-scorecard .annotation-image,
.state-focus .annotation-image {
  @include breakpoint-max(900px) {
    max-width: $annotation-image-max-width-narrow-screen;
  }
}

.text {
  &:not(:last-child) {
    margin-bottom: grid(7);
  }
}

.list {
  margin-block-start: 0;
  padding-inline-start: grid(5);
}

.list-item {
  margin-bottom: grid(1);
}

.inline-link {
  border-bottom: 1px dashed colors.$primary-20;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: var(--color-project-highlight);
  }
}

.project-type {
  @include label-xs-caps-prominent;
  margin-bottom: grid(1);
  line-height: 1.4;
}

.project-title {
  @include title-medium;

  justify-self: start;
  margin-bottom: grid(2);
  line-height: 1.4;
}

// TECHNICAL HIGHLIGHTS - ANNOTATION
.technical-highlights.leader-line,
.technical-highlights.annotation-container {
  transform: translateY(25px);

  @include breakpoint-max(900px) {
    transform: initial;
    margin-bottom: grid(5);
  }
}

// OLD SCORECARD - ANNOTATION

.old-scorecard.leader-line,
.old-scorecard.annotation-container {
  transform: translateY(1px);

  @include breakpoint-max(900px) {
    transform: initial;
    margin-bottom: grid(5);
  }
}

// SITE LINKS - MAIN
.site-links.label {
  @include body-xs;
  @include font-sans-medium;
  margin-bottom: grid(3);
}

.site-link {
  transition: all 0.3s ease-in-out;
  border: 1px dashed colors.$primary-20;
  padding: grid(2);

  &:not(:last-child) {
    margin-right: grid(8);
  }

  &:hover {
    background: var(--color-project-highlight);
  }
}

.site-image {
  width: 240px;
  height: auto;
}

.site-link-title-container {
  display: inline-flex;
  align-items: center;
  margin-bottom: grid(3);
  transition: all 0.2s ease-in-out;
}

.site-link-title {
  @include body-xs;
  margin-right: grid(2);
}

// MERMAID DIAGRAM = ANNOTATION
.diagram.leader-line,
.diagram.annotation-container {
  transform: translateY(72px);

  @include breakpoint-max(900px) {
    flex-direction: row;
    transform: initial;
    margin-bottom: grid(5);
  }
}

.diagram .mermaid-diagram {
  display: inline-block;
  position: relative;
  bottom: 96px;
  transform-origin: top left;
  width: 252px;

  @include breakpoint-max(900px) {
    position: initial;
    display: block;
    bottom: 0;
  }
}

// REDESIGN IMAGES - MAIN
.redesign-container {
  gap: grid(4);
}

.redesign-container.expanded {
  flex-direction: column;

  &.right-first {
    flex-direction: column-reverse;
  }
}

.redesign-image-container {
  cursor: pointer;
  position: relative;
  flex-basis: 50%;

  .label {
    @include body-xs;
    @include font-sans-medium;
    margin-bottom: grid(2);
  }

  .site-image {
    border: 1px solid colors.$neutral-90;
    width: 100%;
    position: relative;
  }
}

.redesign-image-container::before {
  content: 'Click image to expand';
  pointer-events: none;
  border-radius: 4px;
  position: absolute;
  top: 32px;
  right: 12px;
  color: #666;
  font-size: 12px;
  background: rgba(white, 0.9);
  border: 1px solid colors.$neutral-90;
  padding: grid(2);
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 10;
}

.redesign-image-container:hover::before {
  opacity: 1;
}

.redesign-image-container.expanded::before {
  content: 'Click image to collapse';
}

// BEFORE/AFTER IMAGES - MAIN
.before-after-container {
  @include body-xs;
  gap: grid(3);
  background: colors.$neutral-95;
  padding: grid(3);
  border-radius: grid(1);
  align-items: center;
}

.before-after-image {
  width: 100%;
  border: 1px solid colors.$neutral-80;
  border-radius: grid(1);
}

.before-after-arrow {
  align-self: center;
  transform: scale(1.2);
}

.before-after.leader-line {
  transform: translateY(36px);

  @include breakpoint-max(900px) {
    transform: initial;
  }
}

.before-after.annotation-container {
  transform: translateY(38px);

  @include breakpoint-max(900px) {
    transform: initial;
    margin-top: grid(5);
  }
}

.capabilities.list-title {
  @include label-small;
  text-decoration: underline;
  margin-bottom: grid(3);
}

.state-focus-image-container {
  transform: translateY(-50%);

  .title {
    @include font-sans-medium;
    margin-bottom: grid(2);
  }

  @include breakpoint-max(900px) {
    transform: initial;
    margin-bottom: grid(5);
  }
}
