<div class="project-overview-container">
  <div class="description">
    <p *ngFor="let text of project.description" class="info-text">{{ text }}</p>
  </div>
  <div class="text-links-container">
    @for (link of project.links; track $index) {
      @if (link.url) {
        <a
          class="project-link"
          [class.disabled]="link.disabled"
          [href]="'http://' + link.url"
          target="_blank"
          rel="noopener"
          (pointerenter)="setHovered(link.name, true)"
          (pointerleave)="setHovered(link.name, false)"
          >View {{ link.name.toLowerCase() }}
          <ng-container *ngTemplateOutlet="arrow"></ng-container>
          <ng-container *ngTemplateOutlet="disabled"></ng-container>
        </a>
      }
      @if (link.routerLink) {
        <a
          class="project-link"
          [class.disabled]="link.disabled"
          [routerLink]="[link.routerLink]"
          (pointerenter)="setHovered(link.name, true)"
          (pointerleave)="setHovered(link.name, false)"
          >View {{ link.name.toLowerCase()
          }}<ng-container *ngTemplateOutlet="arrow"></ng-container>
          <ng-container *ngTemplateOutlet="disabled"></ng-container>
        </a>
      }
      <ng-template #arrow>
        <app-project-arrow
          class="project-arrow"
          [class.disabled]="link.disabled"
          [hovered]="
            link.disabled ? false : hovered[getSanitizedKey(link.name)]
          "
        ></app-project-arrow>
      </ng-template>
      <ng-template #disabled>
        @if (link.disabled) {
          <span class="disabled-label">(disabled)</span>
        }
      </ng-template>
    }
  </div>
  @if (project.images) {
    <div class="images-container" [class.multi]="project.images.length > 1">
      @for (image of project.images; track $index) {
        <div class="image-container">
          <img
            [style.--num-images]="project.images.length"
            class="project-image"
            [src]="image.path"
            [alt]="
              'screenshot ' +
              $index +
              ' of ' +
              project.title +
              ': ' +
              image.altText
            "
          />
        </div>
      }
    </div>
  }
</div>
