<div class="filters-selection-container">
    <p class="selection-section-label">Filter jobs</p>
    <p class="selection-instructions">Select fields to view in the chart below.</p>
    <p class="selection-instructions">
        If you disaggregate by either tenure status or job rank, you will only be able to select one field at a time. If
        all fields are deselected, "All" will be automatically selected.
    </p>
    <div class="selections-container">
        <div class="tenure-selections-container">
            <p class="selection-section-label sub-selection">Tenure status</p>
            <app-radio-group
                class="variable-use tenure button-toggle"
                [options]="tenureUseOptions"
                group="tenure-use"
                (clicked)="updateTenureUseSelection()"
                class="button-toggle"
            ></app-radio-group>
            <app-radio-group
                *ngIf="isTenureFilter"
                class="variable-options tenure filter"
                [options]="tenureOptions"
                group="tenure-options-filter"
                (newSelection)="onNewTenureSelection()"
                [isStyledRadio]="true"
            ></app-radio-group>
            <app-checkbox-group
                *ngIf="!isTenureFilter"
                class="variable-options tenure diaggregate"
                [options]="tenureOptions"
                group="tenure-options-disaggregate"
                (newSelection)="onNewTenureSelection()"
                [isStyledCheckbox]="true"
            ></app-checkbox-group>
        </div>
        <div class="rank-selections-container">
            <p class="selection-section-label sub-selection">Job rank</p>
            <app-radio-group
                class="variable-use rank button-toggle"
                [options]="rankUseOptions"
                group="rank-use"
                (clicked)="updateRankUseSelection()"
            ></app-radio-group>
            <app-radio-group
                *ngIf="isRankFilter"
                class="variable-options rank filter"
                [options]="rankOptions"
                group="rank-options-filter"
                (newSelection)="onNewRankSelection()"
                [isStyledRadio]="true"
            ></app-radio-group>
            <app-checkbox-group
                *ngIf="!isRankFilter"
                class="variable-options rank diaggregate"
                [options]="rankOptions"
                group="rank-options-disaggregate"
                (newSelection)="onNewRankSelection()"
                [isStyledCheckbox]="true"
            ></app-checkbox-group>
        </div>
    </div>
</div>
