@import 'vars', 'placeholders';

.filters-selection-container {
    .selections-container {
        display: flex;
        & > *:first-child {
            padding-right: $space-12;
        }
    }
    .inputs-container {
        display: flex;
    }

    .filters-radio-input {
        padding-right: $space-4;
    }

    .radio-input-label.selected,
    .checkbox-input-label.selected {
        svg {
            fill: $color-highlight;
        }
    }
}
