<ng-container *ngIf="inputType$ | async as inputType">
  <ng-container *ngIf="data.selections$ | async as selections">
    <ng-container *ngFor="let option of options">
      <input
        class="cdk-visually-hidden"
        [attr.type]="inputType"
        [attr.id]="option.value"
        [attr.name]="inputType === 'radio' ? variable : null"
        [attr.checked]="inputType === 'checkbox' && selections[selectionsVariable].includes(option.value) ? true : null"
      />
      <label
        class="checkbox-input-label fields button-style"
        [attr.for]="option.value"
        [class.selected]="selections[selectionsVariable].includes(option.label)"
        (click)="updateVariableValues(option.label, inputType, selections[selectionsVariable])"
      >
        <span
          *ngIf="inputType === 'radio' && selections[selectionsVariable].includes(option.label)"
          class="material-symbols-outlined"
          >radio_button_checked</span
        >
        <span
          *ngIf="inputType === 'radio' && !selections[selectionsVariable].includes(option.label)"
          class="material-symbols-outlined"
          >radio_button_unchecked</span
        >
        <span
          *ngIf="inputType === 'checkbox' && selections[selectionsVariable].includes(option.label)"
          class="material-symbols-outlined"
          >check_box</span
        >
        <span
          *ngIf="inputType === 'checkbox' && !selections[selectionsVariable].includes(option.label)"
          class="material-symbols-outlined"
          >check_box_outline_blank</span
        >
        {{option.label}}</label
      >
    </ng-container>
  </ng-container>
</ng-container>
