<ng-container *ngIf="inputType$ | async as inputType">
  <div
    *ngIf="data.selections$ | async as selections"
    [ngClass]="['variable-single-multi-selection-container', variable]"
  >
    <div *ngFor="let option of options" [ngClass]="['option', variable]">
      <input
        #hiddenInput
        class="cdk-visually-hidden hidden-input"
        [attr.type]="inputType"
        [attr.id]="option.value"
        [attr.name]="inputType === 'radio' ? variable : null"
        [attr.checked]="
          inputType === 'checkbox' &&
          selections[selectionsVariable].includes(option[valueAccessor])
            ? true
            : null
        "
        (keydown.enter)="
          inputType === 'checkbox'
            ? updateVariableValues(
                option[valueAccessor],
                inputType,
                selections[selectionsVariable]
              )
            : null
        "
        (keydown.space)="
          inputType === 'radio'
            ? updateVariableValues(
                option[valueAccessor],
                inputType,
                selections[selectionsVariable]
              )
            : null
        "
      />
      <label
        [ngClass]="[inputType + '-input-label', 'label', variable]"
        [attr.for]="option.value"
        [class.selected]="
          selections[selectionsVariable].includes(option[valueAccessor])
        "
        [style.--color]="option.color"
        (click)="
          updateVariableValues(
            option[valueAccessor],
            inputType,
            selections[selectionsVariable]
          )
        "
      >
        @if (inputUsesIcon) {
          @if (
            inputType === 'radio' &&
            selections[selectionsVariable].includes(option[valueAccessor])
          ) {
            <app-svg-icon
              name="radio-button-checked"
              class="icon radio checked"
            ></app-svg-icon>
          }
          @if (
            inputType === 'radio' &&
            !selections[selectionsVariable].includes(option[valueAccessor])
          ) {
            <app-svg-icon
              name="radio-button-unchecked"
              class="icon radio unchecked"
            ></app-svg-icon>
          }
          @if (
            inputType === 'checkbox' &&
            selections[selectionsVariable].includes(option[valueAccessor])
          ) {
            <app-svg-icon
              name="check-box"
              class="icon checkbox selected"
            ></app-svg-icon>
          }
          @if (
            inputType === 'checkbox' &&
            !selections[selectionsVariable].includes(option[valueAccessor])
          ) {
            <app-svg-icon
              name="check-box-outline-blank"
              class="icon checkbox unselected"
            ></app-svg-icon>
          }
        }
        {{ option.label }}</label
      >
    </div>
  </div>
</ng-container>
