@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;

.variable-single-multi-selection-container {
  display: contents;

  .option .label {
    display: flex;
    align-items: center;
    color: $color-dark-primary;
    line-height: 1.2;

    .material-symbols-outlined {
      color: $color-highlight;
      padding-right: grid(1);
      transform: scale(0.9);
    }
  }

  .hidden-input:focus.cdk-keyboard-focused + .label {
    @extend %focus-ring-style;
  }
}
