<vic-xy-chart
  class="xy-chart-component"
  [scaleChartWithContainerWidth]="{ width: true, height: false }"
  [margin]="margin"
  [height]="height"
  [width]="width"
>
  <ng-container svg-elements>
    <svg:g vic-xy-background [color]="chartBackgroundColor"></svg:g>
    <svg:g vic-x-quantitative-axis side="bottom" [config]="xAxisConfig"></svg:g>
    <svg:g vic-y-quantitative-axis side="left" [config]="yAxisConfig"></svg:g>
    <svg:g
      vic-data-marks-stacked-area
      [config]="dataMarksConfig"
      [vicStackedAreaHoverMoveEffects]="hoverEffects"
      (vicStackedAreaHoverMoveOutput)="updateTooltipForNewOutput($event)"
    >
      <vic-html-tooltip
        [config]="tooltipConfig$ | async"
        [template]="htmlTooltip"
      ></vic-html-tooltip>
    </svg:g>
    <!-- <svg:g app-summary-chart-slider></svg:g> -->
  </ng-container>
  <ng-template #htmlTooltip>
    <div
      *ngIf="tooltipData$ | async as tooltipData"
      class="summary-chart-tooltip"
    >
      <div class="tooltip-line"></div>
      <div class="tooltip-container" *ngIf="tooltipData.data">
        <div class="year-row">
          <p class="tooltip-label x">{{ tooltipData.data[0].x }}</p>
          <p
            ><span class="total-label">total:</span> {{ tooltipData.total
            }}.0</p
          >
        </div>
        <div
          *ngFor="let data of tooltipData.data"
          class="tooltip-field-value-row"
        >
          <p class="tooltip-label category" [style.color]="data.color"
            >{{ data.category }}</p
          >
          <div class="values-container">
            <p class="tooltip-label y">{{ data.y }}</p>
          </div>
        </div>
      </div>
      <div class="tooltip-line"></div>
    </div>
  </ng-template>
</vic-xy-chart>
