<ng-content select="[title]"></ng-content>
<ng-container [ngSwitch]="legendType">
  <vic-continuous-legend
    *ngSwitchCase="'continuous'"
    [width]="width"
    [height]="height"
    [valuesSide]="valuesSide"
    [scale]="attributeDataScale"
    [config]="attributeDataConfig"
    [outlineColor]="outlineColor"
    [orientation]="orientation"
  ></vic-continuous-legend>
  <vic-discontinuous-legend
    *ngSwitchDefault
    [width]="width"
    [height]="height"
    [valuesSide]="valuesSide"
    [scale]="attributeDataScale"
    [config]="attributeDataConfig"
    [outlineColor]="outlineColor"
    [orientation]="orientation"
    [isCategorical]="legendType === 'categorical'"
  ></vic-discontinuous-legend>
</ng-container>
