@import 'vars', 'placeholders';

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    padding: $space-4 0;
}

.field-checkbox-input {
    @extend %hidden-input-element;
}

.field-checkbox-label {
    @extend %slab-bold;
    font-size: 0.85rem;
    display: inline-flex;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid $color-highlight;
    padding: $space-2 $space-4 $space-1 $space-4;
    margin: $space-1 $space-3 $space-1 0;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
    color: var(--color);

    &.selected {
        background: var(--color);
        color: white;
    }
}
