{
  "root": false,
  "overrides": [
    {
      "files": ["*.ts"],
      "rules": {
        "@angular-eslint/directive-selector": [
          "error",
          {
            "type": "attribute",
            "prefix": "vic",
            "style": "camelCase"
          }
        ],
        "@angular-eslint/component-selector": [
          "error",
          {
            "type": "element",
            "prefix": "vic",
            "style": "kebab-case"
          }
        ],
        "@angular-eslint/no-inputs-metadata-property": "warn"
      }
    }
  ]
}
