@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.description {
  max-width: var(--max-text-width);
  line-height: 1.5;
  align-self: center;
  width: 100%;

  &:not(:last-child) {
    padding-bottom: grid(2);
  }
}

.charts-container {
  display: flex;
  justify-content: center;
  padding-top: grid(4);
  gap: grid(14);

  @media screen and (max-width: 1000px) {
    gap: grid(8);
  }

  @media screen and (max-width: 840px) {
    flex-direction: column;
    width: 100%;
    align-items: center;

    .chart-component {
      width: 100%;
      padding-right: grid(6);
    }
  }
}

.chart-component {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  flex-shrink: 1;
  flex-grow: 1;
  min-width: 0;
  position: relative;
  top: grid(4);
}

.table-component {
  flex-basis: 380px;
  flex-shrink: 0;
}
