@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;

.section-header {
  @extend %h5;
  text-align: center;
  padding-bottom: grid(2);
}

.charts-container {
  display: flex;
  padding-top: grid(4);
}

.chart-component {
  display: block;
  flex-grow: 1;
  min-width: 340px;
}

.table-component {
  flex-basis: 400px;
  flex-shrink: 0;
}
