@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  max-width: var(--max-text-width);
  line-height: 1.5;
  align-self: center;
  width: 100%;

  &:not(:last-child) {
    padding-bottom: grid(2);
  }
}

.charts-container {
  display: flex;
  padding-top: grid(4);
  gap: grid(14);
  width: 100%;

  @media screen and (max-width: 1000px) {
    gap: grid(8);
  }
  @media screen and (max-width: 840px) {
    flex-direction: column;
  }
}

.chart-component {
  display: block;
  flex-grow: 1;
  min-width: 340px;
  position: relative;
  top: grid(4);
}

.table-component {
  flex-basis: 400px;
  flex-shrink: 0;
}
