<p class="description">
  Hover over the chart to see counts of jobs by fields for individual years.
  Fractions of jobs within a year reflect assignment of some jobs to more than
  one field.
</p>
<div
  *ngIf="summaryService.sortedTableData$ | async as tableData"
  class="charts-container"
>
  <app-summary-chart class="chart-component"></app-summary-chart>
  <app-summary-table
    class="table-component"
    [headers]="tableHeaders"
    [rows]="tableData"
    (activeSort)="handleTableSort($event)"
  ></app-summary-table>
</div>
