@use '../sass-utils';

$firsttry: (
  0: #000000,
  // pure black
  5: #111416,
  10: #1d2124,
  15: #2a2f33,
  20: #373d42,
  25: #454b50,
  30: #535a60,
  35: #61696f,
  40: #6f777d,
  // could replace current 'dark-1'
  50: #8c9499,
  60: #a5adb1,
  70: #bac3c6,
  80: #c3d0d2,
  // existing light-1
  85: #d3ddde,
  // existing light-2
  90: #e4eaeb,
  // existing light-3
  95: #f5f7f7,
  // existing light-4
  100: #ffffff,
);

$primary: (
  0: #000000,
  5: #001129,
  10: #001b3c,
  15: #00264e,
  20: #003061,
  25: #003b75,
  30: #004689,
  35: #00529e,
  40: #005eb3,
  50: #0076df,
  60: #3491ff,
  70: #76acff,
  80: #a8c8ff,
  90: #d5e3ff,
  95: #ecf1ff,
  98: #f9f9ff,
  99: #fdfbff,
  100: #ffffff,
);

$secondary: (
  0: #000000,
  5: #0a1217,
  10: #151d21,
  15: #1f272c,
  20: #2a3137,
  25: #353c42,
  30: #40484d,
  35: #4c5359,
  40: #575f65,
  50: #70787e,
  60: #8a9298,
  70: #a4acb3,
  80: #c0c7ce,
  90: #dce3ea,
  95: #eaf2f9,
  98: #f5faff,
  99: #fbfcff,
  100: #ffffff,
);

$tertiary: (
  0: #000000,
  5: #0e1212,
  10: #191c1d,
  15: #232627,
  20: #2e3131,
  25: #393c3c,
  30: #444748,
  35: #505353,
  40: #5c5f5f,
  50: #747878,
  60: #8e9191,
  70: #a9acac,
  80: #c4c7c7,
  90: #e1e3e3,
  95: #eff1f1,
  // 97: original row hover color
  97: #f5f7f7,
  98: #f8fafa,
  99: #fbfdfd,
  100: #ffffff,
);

$gray: (
  0: #000000,
  5: #081315,
  10: #121d20,
  15: #1d282a,
  20: #273235,
  25: #323d40,
  30: #3d494b,
  35: #495457,
  40: #556063,
  50: #6d797c,
  60: #879396,
  70: #a1adb0,
  80: #bdc9cc,
  90: #d9e5e8,
  95: #e7f3f6,
  98: #effbff,
  99: #f7fdff,
  100: #ffffff,
);

$highlight: (
  'default': #0088ff,
  'light': #b2dbff,
  'search': #eeff00,
);

$site-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'tertiary': $tertiary,
  'highlight': $highlight,
  'dark-primary': #2a3058,
);

html {
  @include sass-utils.map-scss-vars-into-css-vars($site-colors, 'color');
}
