.theme--professional {
  --color-bg: var(--color-neutral-98, #f8fafa);
  --color-bg-rgb: 248, 250, 250;
  --font-mono: var(--font-sans);
}

.theme--design-dev {
  --color-bg: var(--color-neutral-100, #ffffff);
  --color-bg-rgb: 255, 255, 255;
}

.theme--personal {
  --color-bg: var(--color-neutral-100, #ffffff);
  --color-bg-rgb: 255, 255, 255;
  --color-project-accent-bg: #f7f6f8;
  --color-project-accent-bg-hover: #e9e4f5;
  --color-project-accent-text: #8c74c7;
  --color-project-highlight: #a2ff29;
}
