// BRIGHT BLUE
$primary-0: var(--color-primary-0);
$primary-5: var(--color-primary-5);
$primary-10: var(--color-primary-10);
$primary-15: var(--color-primary-15);
$primary-20: var(--color-primary-20);
$primary-25: var(--color-primary-25);
$primary-30: var(--color-primary-30);
$primary-35: var(--color-primary-35);
$primary-40: var(--color-primary-40);
$primary-50: var(--color-primary-50);
$primary-60: var(--color-primary-60);
$primary-70: var(--color-primary-70);
$primary-80: var(--color-primary-80);
$primary-90: var(--color-primary-90);
$primary-95: var(--color-primary-95);
$primary-98: var(--color-primary-98);
$primary-99: var(--color-primary-99);
$primary-100: var(--color-primary-100);

// GRAYS WITH BLUE TINT
$secondary-0: var(--color-secondary-0);
$secondary-5: var(--color-secondary-5);
$secondary-10: var(--color-secondary-10);
$secondary-15: var(--color-secondary-15);
$secondary-20: var(--color-secondary-20);
$secondary-25: var(--color-secondary-25);
$secondary-30: var(--color-secondary-30);
$secondary-35: var(--color-secondary-35);
$secondary-40: var(--color-secondary-40);
$secondary-50: var(--color-secondary-50);
$secondary-60: var(--color-secondary-60);
$secondary-70: var(--color-secondary-70);
$secondary-80: var(--color-secondary-80);
$secondary-90: var(--color-secondary-90);
$secondary-95: var(--color-secondary-95);
$secondary-98: var(--color-secondary-98);
$secondary-99: var(--color-secondary-99);
$secondary-100: var(--color-secondary-100);

// COOL GRAYS (less blue than secondary)
$tertiary-0: var(--color-tertiary-0);
$tertiary-5: var(--color-tertiary-5);
$tertiary-10: var(--color-tertiary-10);
$tertiary-15: var(--color-tertiary-15);
$tertiary-20: var(--color-tertiary-20);
$tertiary-25: var(--color-tertiary-25);
$tertiary-30: var(--color-tertiary-30);
$tertiary-35: var(--color-tertiary-35);
$tertiary-40: var(--color-tertiary-40);
$tertiary-50: var(--color-tertiary-50);
$tertiary-60: var(--color-tertiary-60);
$tertiary-70: var(--color-tertiary-70);
$tertiary-80: var(--color-tertiary-80);
$tertiary-90: var(--color-tertiary-90);
$tertiary-95: var(--color-tertiary-95);
$tertiary-97: var(--color-tertiary-97);
$tertiary-98: var(--color-tertiary-98);
$tertiary-99: var(--color-tertiary-99);
$tertiary-100: var(--color-tertiary-100);

$highlight-default: var(--color-highlight-default);
$highlight-light: var(--color-highlight-light);
$highlight-search: var(--color-highlight-search);

$dark-primary: var(--color-dark-primary);
