// BRIGHT BLUE
$primary-0: var(--color-primary-0);
$primary-5: var(--color-primary-5);
$primary-10: var(--color-primary-10);
$primary-15: var(--color-primary-15);
$primary-20: var(--color-primary-20);
$primary-25: var(--color-primary-25);
$primary-30: var(--color-primary-30);
$primary-35: var(--color-primary-35);
$primary-40: var(--color-primary-40);
$primary-50: var(--color-primary-50);
$primary-60: var(--color-primary-60);
$primary-70: var(--color-primary-70);
$primary-80: var(--color-primary-80);
$primary-90: var(--color-primary-90);
$primary-95: var(--color-primary-95);
$primary-98: var(--color-primary-98);
$primary-99: var(--color-primary-99);
$primary-100: var(--color-primary-100);

// COOL GRAYS (less blue than secondary)
$neutral-0: var(--color-neutral-0);
$neutral-5: var(--color-neutral-5);
$neutral-10: var(--color-neutral-10);
$neutral-15: var(--color-neutral-15);
$neutral-20: var(--color-neutral-20);
$neutral-25: var(--color-neutral-25);
$neutral-30: var(--color-neutral-30);
$neutral-35: var(--color-neutral-35);
$neutral-40: var(--color-neutral-40);
$neutral-50: var(--color-neutral-50);
$neutral-60: var(--color-neutral-60);
$neutral-70: var(--color-neutral-70);
$neutral-80: var(--color-neutral-80);
$neutral-90: var(--color-neutral-90);
$neutral-95: var(--color-neutral-95);
$neutral-97: var(--color-neutral-97);
$neutral-98: var(--color-neutral-98);
$neutral-99: var(--color-neutral-99);
$neutral-100: var(--color-neutral-100);

// ORIGINAL GRAYS (more blue/green than neutral)
$alt-neutral-55: var(--color-alt-neutral-55);
$alt-neutral-75: var(--color-alt-neutral-75);
$alt-neutral-85: var(--color-alt-neutral-85);
$alt-neutral-88: var(--color-alt-neutral-88);

$highlight-default: var(--color-highlight-default);
$highlight-light: var(--color-highlight-light);
$highlight-search: var(--color-highlight-search);

$text: var(--color-text);
