@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;

@mixin text-link($text-color, $highlight-color, $underline-style) {
  text-decoration: none;
  cursor: pointer;
  color: $text-color;
  transition: all 0.2s ease-in-out;
  border-bottom: $underline-style;

  &:hover {
    color: rgba($text-color, 0.8);
    background: $highlight-color;
  }

  &:active {
    color: $green-highlight;
  }

  &:visited {
  }
}

@mixin vertical-padded-scrollbar($thickness, $padding) {
  @include padded-scrollbar($padding);
  &::-webkit-scrollbar {
    width: ($padding * 2) + $thickness;
  }
}

@mixin horizontal-padded-scrollbar($thickness, $padding) {
  @include padded-scrollbar($padding);
  &::-webkit-scrollbar {
    height: ($padding * 2) + $thickness;
  }
}

@mixin padded-scrollbar($padding) {
  &::-webkit-scrollbar-track {
    background-color: get($colors, 'grays.light-4');
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-scrollbar;
    border: $padding solid get($colors, 'grays.light-1');
  }
}

@mixin breakpoint($point) {
  @supports not (-ms-high-contrast: none) {
    @if $point == mobile-device {
      @media screen and (max-width: $viewport-width-xs) {
        @content;
      }
    } @else if $point == small-screen {
      @media screen and (min-width: $viewport-width-xs + 1) and (max-width: $viewport-width-sm) {
        @content;
      }
    } @else if $point == medium-screen {
      @media screen and (min-width: $viewport-width-sm + 1) and (max-width: $viewport-width-md) {
        @content;
      }
    } @else if $point == large-screen {
      @media screen and (min-width: $viewport-width-md + 1) and (max-width: $viewport-width-lg) {
        @content;
      }
    } @else if $point == extra-large-screen {
      @media screen and (min-width: $viewport-width-lg + 1) and (max-width: $viewport-width-xl) {
        @content;
      }
    } @else if $point == xssmlxl-screen {
      @media screen and (max-width: $viewport-width-xl) {
        @content;
      }
    } @else if $point == xssml-screen {
      @media screen and (max-width: $viewport-width-lg) {
        @content;
      }
    } @else if $point == xssm-screen {
      @media screen and (max-width: $viewport-width-md) {
        @content;
      }
    } @else if $point == xss-screen {
      @media screen and (max-width: $viewport-width-sm) {
        @content;
      }
    }
  }
}

@mixin breakpoint-max($value) {
  @supports not (-ms-high-contrast: none) {
    @media screen and (max-width: $value) {
      @content;
    }
  }
}
