@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin nav-link {
  text-decoration: none;
  cursor: pointer;
  color: $primary-text-color;
  border-bottom: 3px solid transparent;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: rgba($primary-text-color, 0.8);
    background: rgba($aqua-lightest, 0.5);
  }

  &:active {
    color: $green-highlight;
  }

  &:visited {
  }
}

@mixin vertical-padded-scrollbar($thickness, $padding) {
  @include padded-scrollbar($padding);
  &::-webkit-scrollbar {
      width: ($padding * 2) + $thickness;
  }
}

@mixin horizontal-padded-scrollbar($thickness, $padding) {
  @include padded-scrollbar($padding);
  &::-webkit-scrollbar {
      height: ($padding * 2) + $thickness;
  }
}

@mixin padded-scrollbar($padding) {
  &::-webkit-scrollbar-track {
      background-color: $aqua-lightest;
  }
  
  &::-webkit-scrollbar-thumb {
      background-color: $color-scrollbar;
      border: $padding solid $aqua-medium;
  }
}

@mixin ie-scrollbar-styles {
  -ms-scrollbar-face-color: $color-scrollbar-ie;
  scrollbar-face-color: $color-scrollbar-ie;
  -ms-scrollbar-highlight-color: $color-scrollbar-ie;
  scrollbar-highlight-color: $color-scrollbar-ie;
  -ms-scrollbar-shadow-color: $color-scrollbar-ie;
  scrollbar-shadow-color: $color-scrollbar-ie;
  -ms-scrollbar-darkshadow-color: $color-scrollbar-ie;
  scrollbar-darkshadow-color: $color-scrollbar-ie;
  -ms-scrollbar-track-color: #edf1f4;
  scrollbar-track-color: #edf1f4;
  -ms-scrollbar-3dlight-color: $color-scrollbar-ie;
  scrollbar-3dlight-color: $color-scrollbar-ie;
  -ms-scrollbar-arrow-color: $color-nav;
  scrollbar-arrow-color: $color-nav;
  scrollbar-color: $color-scrollbar-ie #fff;
}
