@import 'vars', 'functions';

/* ---- TYPOGRAPHY ---- */
/* ---- Primatives ---- */
%ligatures {
    font-variant-ligatures: common-ligatures;
    -moz-font-feature-settings: 'liga', 'clig';
    -webkit-font-feature-settings: 'liga', 'clig';
    font-feature-settings: 'liga', 'clig';
}

%small-caps {
    font-variant-caps: small-caps;
    -moz-font-feature-settings: 'smcp';
    -webkit-font-feature-settings: 'smcp';
    font-feature-settings: 'smcp';
}

%slab {
    font-family: ff-nuvo-mono-web-pro, sans-serif;
}

%slab-regular {
    @extend %ligatures;
    @extend %slab;
    font-weight: 400;
    font-style: normal;
}

%slab-regular-italic {
    @extend %slab-regular;
    font-style: italic;
}

%slab-medium {
    @extend %slab-regular;
    font-weight: 500;
}

%slab-bold {
    @extend %slab-regular;
    font-weight: 700;
}

%slab-extrabold {
    @extend %slab-regular;
    font-weight: 800;
}

%slab-black {
    @extend %slab-regular;
    font-weight: 900;
}

%sans-regular {
    @extend %ligatures;
    font-family: ff-tisa-sans-web-pro, sans-serif;
    font-weight: 400;
}

%sans-light {
    @extend %sans-regular;
    font-weight: 300;
}

%sans-regular-italic {
    @extend %sans-regular;
    font-style: italic;
}

%sans-medium {
    @extend %sans-regular;
    font-weight: 500;
}

%sans-bold {
    @extend %sans-regular;
    font-weight: 700;
}

%sans-extrabold {
    @extend %sans-regular;
    font-weight: 800;
}

%sans-black {
    @extend %sans-regular;
    font-weight: 900;
}

%h1 {
    @extend %slab-bold;
    font-size: 2rem;
}

%h2 {
    @extend %slab-medium;
    font-size: 2.375rem;
}

%h3 {
    @extend %slab-regular;
    font-size: 1.5rem;
}

%h4 {
    @extend %slab-bold;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

%h5 {
    @extend %slab-extrabold;
    @extend %small-caps;
}

%subtitle1 {
    @extend %sans-regular;
    font-size: 1.2rem;
    letter-spacing: 0.15px;
}

%subtitle2 {
    @extend %sans-medium;
    font-size: 1rem;
    letter-spacing: 0.1px;
}

%body1 {
    @extend %sans-regular;
    font-size: 1.1rem;
    line-height: 1.6rem;
    letter-spacing: 0.5px;
}

%body2 {
    @extend %sans-regular;
    font-size: 0.95rem;
    letter-spacing: 0.25px;
}

%button {
    @extend %slab-medium;
    @extend %button-styles;
    font-size: 0.875rem;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}

%caption {
    @extend %sans-regular;
    font-size: 0.75rem;
    letter-spacing: 0.4px;
}

%overline {
    @extend %sans-medium;
    @extend %small-caps;
    font-size: 1.1rem;
    line-height: 1.1rem;
    letter-spacing: 2px;
}

%small-caps-overline {
    @extend %sans-regular;
    @extend %small-caps;
    letter-spacing: 0.13em;
    font-size: 1.1rem;
    line-height: 1.1rem;
}

%instructions {
    @extend %sans-light;
    letter-spacing: 0.5px;
    font-size: 1rem;
    line-height: 1.3rem;
}

%button-styles {
    color: $color-highlight;
    border-bottom: 1px solid $color-highlight;
}

%button-behavior {
    transition: all 0.2s ease-in-out;
    &:hover {
        color: $color-highlight;
        font-weight: 700;
    }
}

%section-header {
    @extend %h2;
    color: $color-highlight;
    padding-bottom: 0.25rem;
}

%flex-column {
    display: flex;
    flex-direction: column;
}

%nav-link {
    @extend %slab-medium;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: $color-highlight;
    }

    &:active {
        color: $color-highlight;
    }

    &:visited {
    }
}

%ie-scrollbar-styles {
    -ms-scrollbar-face-color: $color-scrollbar-ie;
    scrollbar-face-color: $color-scrollbar-ie;
    -ms-scrollbar-highlight-color: $color-scrollbar-ie;
    scrollbar-highlight-color: $color-scrollbar-ie;
    -ms-scrollbar-shadow-color: $color-scrollbar-ie;
    scrollbar-shadow-color: $color-scrollbar-ie;
    -ms-scrollbar-darkshadow-color: $color-scrollbar-ie;
    scrollbar-darkshadow-color: $color-scrollbar-ie;
    -ms-scrollbar-track-color: #edf1f4;
    scrollbar-track-color: #edf1f4;
    -ms-scrollbar-3dlight-color: $color-scrollbar-ie;
    scrollbar-3dlight-color: $color-scrollbar-ie;
    -ms-scrollbar-arrow-color: get($colors, 'grays.light-1');
    scrollbar-arrow-color: get($colors, 'grays.light-1');
    scrollbar-color: $color-scrollbar-ie #fff;
}

/* ---- ACCESSIBILITY ---- */
%visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 1px;
}

%focus-ring-style {
    outline: 3px solid $color-focus-ring;
    outline-offset: 1px;
}

%hidden-input-element {
    @extend %visuallyhidden;

    &.focus-visible + label {
        @extend %focus-ring-style;
    }
}

/* ---- COMPONENTS ---- */
%navbar {
    min-height: $project-navbar-height;
    flex-shrink: 0;
    background: rgba(white, 0.9);
    padding: 0 1.5rem 0.5rem 1.5rem;
}

%content-component-host {
    @extend %flex-column;
    height: 100%;
    min-height: $body-height-min;
    overflow-y: auto;
}

%content-component-navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

%content-component-container {
    height: 100%;
    margin-top: $project-navbar-height;
}

%comment-button {
    @extend %slab-bold;
    border: 2px solid $color-highlight;
    color: $color-highlight;
    background: $highlight-light;
    transition: all 0.2s;

    &:hover {
        cursor: pointer;
        @extend %slab-extrabold;
        background: white;
    }

    &:disabled {
        background: $highlight-light;
        color: rgba($color-highlight, 0.5);
        border: 2px solid $highlight-light;
    }
}
