@use '@angular/cdk';
@use 'vars' as *;
@use 'placeholders' as *;
@use 'typography' as *;
@use 'reset' as *;
@import '@angular/cdk/overlay-prebuilt.css';

@font-face {
  font-family: 'Recursive';
  src: url('../assets/fonts/Recursive-VariableFont_CASL,CRSV,MONO,slnt,wght.ttf');
  font-weight: 300 1000; // For variable fonts
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../assets/fonts/IBMPlexSans-VariableFont_wdth,wght.ttf');
  font-weight: 300 1000; // For variable fonts
  font-style: italic;
  font-display: swap;
}

@include cdk.a11y-visually-hidden();
@include css-reset('IBM Plex Sans', $color-dark-primary);

::-webkit-scrollbar {
  width: $vertical-scrollbar-thickness;
  height: $horizontal-scrollbar-thickness;
  border-radius: 70px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $color-scrollbar;
  border-radius: 70px;
}
