@import 'vars', 'placeholders';

* {
    box-sizing: border-box;
    font-family: 'ff-tisa-sans-web-pro', sans-serif;
    -webkit-font-smoothing: antialiased;

    html,
    body {
        height: 100vh;
        box-sizing: border-box;
        font-size: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ol,
    ul,
    a,
    button {
        margin: 0;
        padding: 0;
        font-weight: normal;
        color: $dark-primary;
    }

    a {
        @extend %nav-link;
        text-decoration: none;
        cursor: pointer;
    }

    button {
        border: 0;
        background: none;
        cursor: pointer;
    }
}

app-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    // overflow-y: hidden;
}

app-about {
    padding: $content-component-padding;
    // overflow-y: auto;
}

::-webkit-scrollbar {
    width: $vertical-scrollbar-thickness;
    height: $horizontal-scrollbar-thickness;
    border-radius: 70px;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: $color-scrollbar;
    border-radius: 70px;
}
