%ligatures {
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: 'liga', 'clig';
  -webkit-font-feature-settings: 'liga', 'clig';
  font-feature-settings: 'liga', 'clig';
}

$standard-slnt: 0;
$standard-casl: 0;
$standard-mono: 1;
$expressive-slnt: 0;
$expressive-casl: 0.3;
$expressive-mono: 1;

@mixin font-mono-base {
  @extend %ligatures;
  font-family: var(--font-mono, 'Recursive'), system-ui, sans-serif;
}

@mixin font-sans-base {
  @extend %ligatures;
  font-family: var(--font-sans, 'Red Hat Text'), system-ui, sans-serif;
}

@mixin font-mono($weight: 400) {
  @include font-mono-base;
  font-variation-settings:
    'wght' $weight,
    'CASL' var(--font-variation-casl, $standard-casl),
    'MONO' var(--font-variation-mono, $standard-mono),
    'slnt' var(--font-variation-slnt, $standard-slnt);
}

@mixin font-sans($weight: 500) {
  @include font-sans-base;
  font-variation-settings: 'wght' $weight;
}

@mixin font-mono-expressive($weight: 400) {
  @include font-mono-base;
  font-variation-settings:
    'wght' $weight,
    'CASL' var(--font-variation-casl, $expressive-casl),
    'MONO' var(--font-variation-mono, $expressive-mono),
    'slnt' var(--font-variation-slnt, $expressive-slnt);
}

@mixin font-mono-expressive-regular {
  @include font-mono-expressive(400);
}

@mixin font-mono-expressive-medium {
  @include font-mono-expressive(500);
}

@mixin font-mono-expressive-semibold {
  @include font-mono-expressive(600);
}

@mixin font-mono-expressive-bold {
  @include font-mono-expressive(700);
}

@mixin font-mono-expressive-extrabold {
  @include font-mono-expressive(800);
}

@mixin font-mono-standard-regular {
  @include font-mono(400);
}

@mixin font-mono-standard-medium {
  @include font-mono(500);
}

@mixin font-mono-standard-semibold {
  @include font-mono(600);
}

@mixin font-mono-standard-bold {
  @include font-mono(700);
}

@mixin font-mono-standard-extrabold {
  @include font-mono(800);
}

@mixin font-sans-light {
  @include font-sans(400);
}

@mixin font-sans-regular {
  @include font-sans(500);
}

@mixin font-sans-medium {
  @include font-sans(600);
}

@mixin font-sans-semibold {
  @include font-sans(700);
}

@mixin font-sans-bold {
  @include font-sans(800);
}

@mixin font-sans-extrabold {
  @include font-sans(900);
}

@mixin display-large {
  @include font-mono-expressive-regular;
  font-size: 4.75rem;
  letter-spacing: -0.015rem;
  line-height: 4rem;
}

@mixin display-medium {
  @include font-mono-expressive-regular;
  font-size: 3.75rem;
  letter-spacing: 0;
  line-height: 3.25rem;
}

@mixin display-small {
  @include font-mono-expressive-regular;
  font-size: 3rem;
  letter-spacing: 0;
  line-height: 2.75rem;
}

@mixin headline-large {
  @include font-mono-expressive-medium;
  font-size: 2.67rem;
  letter-spacing: 0;
  line-height: 2.5rem;
}

@mixin headline-medium {
  @include font-mono-expressive-medium;
  font-size: 2.33rem;
  letter-spacing: 0;
  line-height: 2.25rem;
}

@mixin headline-small {
  @include font-mono-expressive-medium;
  font-size: 2rem;
  letter-spacing: 0;
  line-height: 2rem;
}

@mixin title-large {
  @include font-mono-expressive-medium;
  font-size: 1.83rem;
  letter-spacing: 0;
  line-height: 1.75rem;
}

@mixin title-medium {
  @include font-mono-expressive-medium;
  font-size: 1.33rem;
  letter-spacing: 0.01rem;
  line-height: 1.5rem;
}

@mixin title-small {
  @include font-mono-expressive-medium;
  font-size: 1.17rem;
  letter-spacing: 0.007rem;
  line-height: 1.25rem;
}

@mixin body-large {
  @include font-sans;
  font-size: 1.33rem;
  letter-spacing: 0.03rem;
  line-height: 1.5;
}

@mixin body-medium {
  @include font-sans;
  font-size: 1.17rem;
  letter-spacing: 0.015rem;
  line-height: 1.65;
}

@mixin body-small {
  @include font-sans;
  font-size: 1rem;
  letter-spacing: 0.025rem;
  line-height: 1.5;
}

@mixin body-xs {
  @include font-sans;
  font-size: 0.92rem;
  letter-spacing: 0;
  line-height: 1rem;
}

@mixin body-2xs {
  @include font-sans;
  font-size: 0.83rem;
  letter-spacing: 0;
  line-height: 1rem;
}

// Labels
@mixin label-large {
  @include font-mono-standard-medium;
  font-size: 1.17rem;
  letter-spacing: 0.015rem;
  line-height: 1.25rem;
}

@mixin label-large-prominent {
  @include label-large;
  @include font-mono-standard-bold;
}

@mixin label-large-caps {
  @include label-large;
  text-transform: uppercase;
}

@mixin label-large-caps-prominent {
  @include label-large-caps;
  @include font-mono-standard-bold;
}

@mixin label-medium {
  @include font-mono-standard-medium;
  font-size: 1rem;
  letter-spacing: 0.03rem;
  line-height: 1rem;
}

@mixin label-medium-prominent {
  @include label-medium;
  @include font-mono-standard-bold;
}

@mixin label-medium-caps {
  @include label-medium;
  text-transform: uppercase;
}

@mixin label-medium-caps-prominent {
  @include label-medium-caps;
  @include font-mono-standard-bold;
}

@mixin label-small {
  @include font-mono-standard-medium;
  font-size: 0.92rem;
  letter-spacing: 0.03rem;
  line-height: 1rem;
}

@mixin label-small-prominent {
  @include label-small;
  @include font-mono-standard-bold;
}

@mixin label-small-caps {
  @include label-small;
  text-transform: uppercase;
}

@mixin label-small-caps-prominent {
  @include label-small-caps;
  @include font-mono-standard-bold;
}

@mixin label-xs {
  @include font-mono-standard-medium;
  font-size: 0.83rem;
  letter-spacing: 0.015rem;
  line-height: 0.875rem;
}

@mixin label-xs-prominent {
  @include label-xs;
  @include font-mono-standard-bold;
}

@mixin label-xs-caps {
  @include label-xs;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

@mixin label-xs-caps-prominent {
  @include label-xs-caps;
  @include font-mono-standard-bold;
}

@mixin label-2xs {
  @include font-mono-standard-medium;
  font-size: 0.75rem;
  letter-spacing: 0.015rem;
  line-height: 0.75rem;
}

@mixin label-2xs-prominent {
  @include label-2xs;
  @include font-mono-standard-bold;
}

@mixin label-2xs-caps {
  @include label-2xs;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

@mixin label-2xs-caps-prominent {
  @include label-2xs-caps;
  @include font-mono-standard-bold;
}

// TRANSLATIONS
// h1: display-large
// h2: display-medium
// h3: display-small
// h4: headline-medium
// h5: title-large
// h6: title-medium
// small-caps-slab-bold: label-medium-caps-prominent
// subtitle1: label-medium
// subtitle2: label-small
// body1: body-medium
// body2: body-xs
// caption: label-2xs
// overline: label-large-caps
// small-caps-overline: label-large-caps
// instructions: sans light
