%ligatures {
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: 'liga', 'clig';
  -webkit-font-feature-settings: 'liga', 'clig';
  font-feature-settings: 'liga', 'clig';
}

%slab {
  @extend %ligatures;
  font-family: 'Recursive', system-ui, sans-serif;
}

%sans {
  @extend %ligatures;
  font-family: 'Red Hat Text', system-ui, sans-serif;
}

$expressive-slant: 0;
$standard-slant: 0;
$expressive-casual: 0.3;
$standard-casual: 0;
$expressive-monospace: 1;
$standard-monospace: 1;

%slab-expressive-regular {
  @extend %slab;
  font-variation-settings:
    'wght' 400,
    'CASL' $expressive-casual,
    'MONO' $expressive-monospace,
    'slnt' $expressive-slant;
}

%slab-expressive-medium {
  @extend %slab;
  font-variation-settings:
    'wght' 500,
    'CASL' $expressive-casual,
    'MONO' $expressive-monospace,
    'slnt' $expressive-slant;
}

%slab-expressive-semibold {
  @extend %slab;
  font-variation-settings:
    'wght' 600,
    'CASL' $expressive-casual,
    'MONO' $expressive-monospace,
    'slnt' $expressive-slant;
}

%slab-expressive-bold {
  @extend %slab;
  font-variation-settings:
    'wght' 700,
    'CASL' $expressive-casual,
    'MONO' $expressive-monospace,
    'slnt' $expressive-slant;
}

%slab-expressive-extrabold {
  @extend %slab;
  font-variation-settings:
    'wght' 800,
    'CASL' $expressive-casual,
    'MONO' $expressive-monospace,
    'slnt' $expressive-slant;
}

%slab-standard-regular {
  @extend %slab;
  font-variation-settings:
    'wght' 400,
    'CASL' $standard-casual,
    'MONO' $standard-monospace,
    'slnt' $standard-slant;
}

%slab-standard-medium {
  @extend %slab;
  font-variation-settings:
    'wght' 500,
    'CASL' $standard-casual,
    'MONO' $standard-monospace,
    'slnt' $standard-slant;
}

%slab-standard-semibold {
  @extend %slab;
  font-variation-settings:
    'wght' 600,
    'CASL' $standard-casual,
    'MONO' $standard-monospace,
    'slnt' $standard-slant;
}

%slab-standard-bold {
  @extend %slab;
  font-variation-settings:
    'wght' 700,
    'CASL' $standard-casual,
    'MONO' $standard-monospace,
    'slnt' $standard-slant;
}

%slab-standard-extrabold {
  @extend %slab;
  font-variation-settings:
    'wght' 800,
    'CASL' $standard-casual,
    'MONO' $standard-monospace,
    'slnt' $standard-slant;
}

%sans-light {
  @extend %sans;
  font-variation-settings: 'wght' 400;
}

%sans-regular {
  @extend %sans;
  font-variation-settings: 'wght' 500;
}

%sans-medium {
  @extend %sans;
  font-variation-settings: 'wght' 600;
}

%sans-semibold {
  @extend %sans;
  font-variation-settings: 'wght' 700;
}

%sans-bold {
  @extend %sans;
  font-variation-settings: 'wght' 800;
}

%sans-extrabold {
  @extend %sans;
  font-variation-settings: 'wght' 900;
}

@mixin display-large {
  @extend %slab-expressive-regular;
  font-size: 4.75rem;
  letter-spacing: -0.015rem;
  line-height: 4rem;
}

@mixin display-medium {
  @extend %slab-expressive-regular;
  font-size: 3.75rem;
  letter-spacing: 0;
  line-height: 3.25rem;
}

@mixin display-small {
  @extend %slab-expressive-regular;
  font-size: 3rem;
  letter-spacing: 0;
  line-height: 2.75rem;
}

@mixin headline-large {
  @extend %slab-expressive-medium;
  font-size: 2.67rem;
  letter-spacing: 0;
  line-height: 2.5rem;
}

@mixin headline-medium {
  @extend %slab-expressive-medium;
  font-size: 2.33rem;
  letter-spacing: 0;
  line-height: 2.25rem;
}

@mixin headline-small {
  @extend %slab-expressive-medium;
  font-size: 2rem;
  letter-spacing: 0;
  line-height: 2rem;
}

@mixin title-large {
  @extend %slab-expressive-medium;
  font-size: 1.83rem;
  letter-spacing: 0;
  line-height: 1.75rem;
}

@mixin title-medium {
  @extend %slab-expressive-medium;
  font-size: 1.33rem;
  letter-spacing: 0.01rem;
  line-height: 1.5rem;
}

@mixin title-small {
  @extend %slab-expressive-medium;
  font-size: 1.17rem;
  letter-spacing: 0.007rem;
  line-height: 1.25rem;
}

@mixin body-large {
  @extend %sans-regular;
  font-size: 1.33rem;
  letter-spacing: 0.03rem;
  line-height: 1.5;
}

@mixin body-medium {
  @extend %sans-regular;
  font-size: 1.17rem;
  letter-spacing: 0.015rem;
  line-height: 1.65;
}

@mixin body-small {
  @extend %sans-regular;
  font-size: 1rem;
  letter-spacing: 0.025rem;
  line-height: 1.5;
}

@mixin body-xs {
  @extend %sans-regular;
  font-size: 0.92rem;
  letter-spacing: 0;
  line-height: 1rem;
}

@mixin body-2xs {
  @extend %sans-regular;
  font-size: 0.83rem;
  letter-spacing: 0;
  line-height: 1rem;
}

// Labels
@mixin label-large {
  @extend %slab-standard-medium;
  font-size: 1.17rem;
  letter-spacing: 0.015rem;
  line-height: 1.25rem;
}

@mixin label-large-prominent {
  @include label-large;
  @extend %slab-standard-bold;
}

@mixin label-large-caps {
  @include label-large;
  text-transform: uppercase;
}

@mixin label-large-caps-prominent {
  @include label-large-caps;
  @extend %slab-standard-bold;
}

@mixin label-medium {
  @extend %slab-standard-medium;
  font-size: 1rem;
  letter-spacing: 0.03rem;
  line-height: 1rem;
}

@mixin label-medium-prominent {
  @include label-medium;
  @extend %slab-standard-bold;
}

@mixin label-medium-caps {
  @include label-medium;
  text-transform: uppercase;
}

@mixin label-medium-caps-prominent {
  @include label-medium-caps;
  @extend %slab-standard-bold;
}

@mixin label-small {
  @extend %slab-standard-medium;
  font-size: 0.92rem;
  letter-spacing: 0.03rem;
  line-height: 1rem;
}

@mixin label-small-prominent {
  @include label-small;
  @extend %slab-standard-bold;
}

@mixin label-small-caps {
  @include label-small;
  text-transform: uppercase;
}

@mixin label-small-caps-prominent {
  @include label-small-caps;
  @extend %slab-standard-bold;
}

@mixin label-xs {
  @extend %slab-standard-medium;
  font-size: 0.83rem;
  letter-spacing: 0.015rem;
  line-height: 0.875rem;
}

@mixin label-xs-prominent {
  @include label-xs;
  @extend %slab-standard-bold;
}

@mixin label-xs-caps {
  @include label-xs;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

@mixin label-xs-caps-prominent {
  @include label-xs-caps;
  @extend %sans-bold;
}

@mixin label-2xs {
  @extend %slab-standard-medium;
  font-size: 0.75rem;
  letter-spacing: 0.015rem;
  line-height: 0.75rem;
}

@mixin label-2xs-prominent {
  @include label-2xs;
  @extend %sans-bold;
}

@mixin label-2xs-caps {
  @include label-2xs;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

@mixin label-2xs-caps-prominent {
  @include label-2xs-caps;
  @extend %sans-bold;
}
