$aqua-lightest: #e2e8ea;
$aqua-light: #e5e9eb;
$aqua-medium: #c3ced2;
$aqua-gray: #6d7c81;
$aqua-gray-dark: #4f5d62;
$pink-lightest: #f9f3f4;
$pink-light: #fff1fe;
$pink-medium: #ffdcef;
$green-highlight: #0fc3af;

$highlight-primary: #0088ff;
$dark-primary: #25274d;

// $sans: 'Source Sans Pro';
// $mono: 'Roboto Mono';
// $slab: 'Roboto Slab';

$background-primary: linear-gradient(0deg, $aqua-lightest, $pink-lightest);
$background-container: linear-gradient(0deg, $pink-lightest, white);
$background-nav: $pink-lightest;

$primary-text-color: $aqua-gray;
$dark-text-color: $aqua-gray-dark;
$light-text-color: $aqua-medium;
$name-text-color: $aqua-medium;

$landing-page-max-width: 1000px;
$content-background-color: rgba($aqua-lightest, 0.6);

$vertical-scrollbar-thickness: 8px;
$horizontal-scrollbar-thickness: 8px;
$color-scrollbar: $aqua-medium;
$color-scrollbar-ie: $aqua-medium;

$content-component-padding: 0px 40px 16px 40px;

$navbar-height: 64px;
$project-navbar-height: 48px;
