<div class="faq-container">
    <p class="date header-item">posted: June 15, 2021</p>
    <p class="instruction header-item">click collapsed questions to expand</p>
    <button class="tldr-button header-item" (click)="onTldrClick()">take me to the tl;dr</button>
    <app-question [question]="whatQuestion" [toggle]="false"></app-question>
    <app-question [question]="whoQuestion" [toggle]="true"></app-question>
    <p class="category-label">questions about my experience</p>
    <app-question *ngFor="let question of meQuestions" [question]="question" [toggle]="true"></app-question>
    <p class="category-label">questions about your experience</p>
    <app-question *ngFor="let question of youQuestions" [question]="question" [toggle]="true"></app-question>
    <p class="comment-instructions">
        If there are additional questions you'd like to see answered here, if you have suggestions for how I could make
        this more helpful, or simply to leave feedback, feel free to comment below.
    </p>
    <app-comments class="comments-component"></app-comments>
</div>
