@import 'vars', 'placeholders';

$leaving-highlight: $highlight-primary;

.faq-container {
    display: flex;
    flex-direction: column;
    padding: $space-1 0 6rem 0;

    .header-item {
        align-self: center;
    }

    .date {
        @extend %subtitle2;
        padding-bottom: $space-4;
    }

    .instruction {
        @extend %instructions;
        padding-bottom: $space-1;
    }

    .tldr-button {
        @extend %button;
        @extend %button-styles;
        margin: $space-1 0 $space-3 0;

        &:hover {
            background: transparent;
            font-weight: 700;
        }
    }

    .category-label {
        @extend %h5;
        align-self: center;
        padding-bottom: $space-2;
    }

    .comment-instructions {
        font-size: 1.1rem;
        padding: 0 0 $space-1 0;
    }

    app-question {
        display: block;
        padding-bottom: $space-4;

        &:first-of-type {
            padding-top: $space-3;
        }
    }
}
