<div class="faq-container">
    <app-question *ngFor="let question of overviewQuestions" [question]="question" [toggle]="false"></app-question>
    <p class="category-label">questions about my experience</p>
    <p class="instruction">click any question to expand</p>
    <app-question *ngFor="let question of meQuestions" [question]="question" [toggle]="true"></app-question>
    <p class="category-label">questions about your experience</p>
    <app-question *ngFor="let question of youQuestions" [question]="question" [toggle]="true"></app-question>
    <p class="comment-instructions">
        If there are additional questions you'd like to see answered here, if you have suggestions for how I could make
        this more helpful, or simply to leave feedback, feel free to comment below.
    </p>
    <app-comments></app-comments>
</div>
