@import 'vars', 'placeholders';

$leaving-highlight: $highlight-primary;

.faq-container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 6rem 0;

    .header-item {
        align-self: center;
    }

    .date {
        @extend %subtitle2;
        padding-bottom: 1rem;
    }

    .instruction {
        @extend %instructions;
        padding-bottom: 0.25rem;
    }

    .tldr-button {
        @extend %button;
        @extend %button-styles;
        margin-bottom: 0.75rem;

        &:hover {
            background: transparent;
            font-weight: 700;
        }
    }

    .category-label {
        @extend %h5;
        align-self: center;
        padding-bottom: 0.5rem;
    }

    .comment-instructions {
        padding: 1rem 0;
    }

    app-question {
        display: block;
        padding-bottom: 1rem;

        &:first-of-type {
            padding-top: 0.75rem;
        }
    }
}
