@use '../colors/colors' as color;

$drop-shadow-light: 0 1px 3px rgba(color.$text, 0.12),
  0 1px 2px rgba(color.$text, 0.24);
$drop-shadow-lightest: 0 1px 3px rgba(color.$text, 0.06),
  0 1px 2px rgba(color.$text, 0.12);
$drop-shadow-bottom-light: 0 1px 3px -1px rgba(color.$text, 0.12),
  0 1px 2px -1px rgba(color.$text, 0.24);
$drop-shadow-bottom-lightest: 0 1px 3px -1px rgba(color.$text, 0.06),
  0 1px 2px -1px rgba(color.$text, 0.12);
