.mermaid-container.flowchart {
  .node rect,
  .node circle,
  .node ellipse,
  .node polygon {
    fill: var(--mermaid-bg-color, #ccc) !important;
    stroke: var(--mermaid-stroke-color, #999) !important;
    stroke-width: var(--mermaid-stroke-width, 1px) !important;
  }

  .label span {
    color: var(--mermaid-primary-text-color, #000) !important;
  }

  .label .edgeLabel p {
    background-color: var(--mermaid-edge-label-bg-color, #f0f0f0) !important;
  }

  .edgeLabels {
    .label p {
      background-color: var(--mermaid-edge-label-bg-color, #f0f0f0) !important;
      color: var(--mermaid-edge-label-color, #000) !important;
    }
  }

  .edgePaths path {
    stroke: var(--mermaid-edge-path-color, #000) !important;
  }
}

.mermaid-container.sequence-diagram {
  // .actor-bottom,
  // .actor-bottom + .actor-box {
  //   display: none;
  // }

  // .actor-top {
  //   fill: var(--mermaid-top-actor-fill-color, #fff4dd) !important;
  //   stroke: var(
  //     --mermaid-top-actor-stroke-color,
  //     hsl(40.5882352941, 60%, 83.3333333333%)
  //   ) !important;
  // }

  // .actor-top + .actor-box {
  //   display: block;
  // }

  // .actor-line {
  //   stroke: var(
  //     --mermaid-actor-line-color,
  //     hsl(40.5882352941, 60%, 83.3333333333%)
  //   ) !important;
  // }

  // text {
  //   font-size: var(--mermaid-font-size, 16px) !important;
  // }

  // .messageLine0 {
  //   stroke: var(--mermaid-message-line-color, #000) !important;
  // }

  // .messageText {
  //   fill: var(--mermaid-message-text-color, #000) !important;
  // }

  // .note {
  //   fill: var(--mermaid-note-fill-color, #fff5ad) !important;
  //   stroke: var(
  //     --mermaid-note-stroke-color,
  //     hsl(52.6829268293, 60%, 73.9215686275%)
  //   ) !important;
  // } // box

  // .noteText {
  // }

  // #arrowhead path {
  //   stroke: var(--mermaid-message-line-color, #000) !important;
  //   fill: var(--mermaid-message-line-color, #000) !important;
  // }

  // svg > rect {
  //   stroke: var(--color-neutral-90, #999) !important;
  // }
}
