@use 'vars' as *;
@use 'placeholders' as *;
@use 'mixins' as *;
@use 'functions' as *;
@use 'colors';
@use 'typography' as *;

.component-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .contact-title {
    @extend %section-header;
    text-align: center;
    padding-bottom: grid(6);
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: grid(6);

    .contact-text {
      @include body-medium;
    }

    .social-media-container {
      display: flex;
      padding-top: grid(1);

      .social-media-link {
        padding-top: grid(1);
      }
    }

    .contact-type-text {
      @include label-large-caps;
    }

    .contact-text {
      @include body-medium;
    }

    .social-media-container {
      display: flex;
      padding-top: grid(1);

      .social-media-link {
        padding-top: grid(1);
      }
    }

    .social-media-icon {
      padding: 0 grid(2);

      svg {
        height: grid(7);
        width: grid(7);
      }
    }
  }
}
