<div class="component-container">
  <h2 class="contact-title">contact</h2>
  <div class="contact-container">
    <p class="contact-type-text">email</p>
    <p class="contact-text">stephanie dot tuerk at gmail</p>
  </div>
  <div class="contact-container">
    <p class="contact-type-text">other</p>
    <div class="social-media-container">
      <a
        class="social-media-link"
        href="'https://bsky.app/profile/stephanietuerk.bsky.social'"
        target="_blank"
        rel="noopener"
        aria-label="Bluesky"
      >
        <app-svg-icon class="social-media-icon" name="bluesky"></app-svg-icon>
      </a>
      <a
        class="social-media-link"
        href="'https://twitter.com/smtology'"
        target="_blank"
        rel="noopener"
        aria-label="Twitter"
      >
        <app-svg-icon class="social-media-icon" name="twitter"></app-svg-icon>
      </a>
      <a
        class="social-media-link"
        href="https://www.linkedin.com/in/stephanie-tuerk/"
        target="_blank"
        rel="noopener"
        aria-label="LinkedIn"
      >
        <app-svg-icon class="social-media-icon" name="linkedin"></app-svg-icon>
      </a>
    </div>
  </div>
</div>
