@import 'mixins', 'vars', 'placeholders';

.component-container {
    @extend %flex-column;
    align-items: center;

    .contact-title {
        @extend %section-header;
    }

    .contact-container {
        @extend %flex-column;
        align-items: center;
        padding-bottom: 0.75rem;

        &:last-of-type {
            padding-bottom: 0;
        }
    }

    .contact-type-text {
        @extend %small-caps-overline;
    }

    .contact-text {
        @extend %body1;
    }

    .social-media-container {
        display: flex;
        padding-top: 0.25rem;

        .social-media-link {
            padding-top: 0.25rem;
        }
    }

    .social-media-icon {
        padding: 0 6px;

        svg {
            height: 30px;
            width: 30px;
        }
    }
}
