<div
  #scrollableContent
  role="listbox"
  tabindex="-1"
  [id]="service.id + '-listbox'"
  class="listbox"
  [class.open]="service.isOpen$ | async"
  [style.--max-reveal-height.px]="maxHeight"
  [attr.aria-labelledby]="
    (service.label$ | async) ? service.comboboxLabelId : label?.id
  "
  [attr.aria-multiselectable]="isMultiSelect"
>
  <ng-container
    *ngTemplateOutlet="label?.labelContent || nullContent"
  ></ng-container>
  @if ((service.groups$ | async)?.length > 0) {
    <ng-container *ngTemplateOutlet="groupedOptions"></ng-container>
  } @else {
    <ng-container *ngTemplateOutlet="options"></ng-container>
  }
</div>

<ng-template #options>
  @for (
    option of service.allOptions$ | async;
    track option.id;
    let i = $index
  ) {
    <ng-container
      *ngTemplateOutlet="
        optionTemplate;
        context: {
          $implicit: option,
          index: i,
          groupIndex: null,
        }
      "
    ></ng-container>
  }
</ng-template>

<ng-template #groupedOptions>
  @for (group of service.groups$ | async; track $index; let i = $index) {
    <div class="listbox-group-container">
      <div
        role="group"
        tabIndex="-1"
        class="listbox-group"
        [ngClass]="'listbox-group-' + i"
        [attr.aria-labelledby]="group.label?.id"
      >
        @if (group.label) {
          <div
            role="presentation"
            [id]="group.label?.id"
            class="listbox-group-label"
            [ngClass]="'listbox-group-' + i + '-label'"
          >
            <ng-container
              *ngTemplateOutlet="group.label?.labelContent || nullContent"
            ></ng-container>
          </div>
        }
        @for (
          option of group.options$ | async;
          track option.id;
          let j = $index
        ) {
          <ng-container
            *ngTemplateOutlet="
              optionTemplate;
              context: {
                $implicit: option,
                index: j,
                groupIndex: i,
              }
            "
          ></ng-container>
        }
      </div>
    </div>
  }
</ng-template>

<ng-template
  #optionTemplate
  let-option
  let-index="index"
  let-groupIndex="groupIndex"
>
  <div
    role="option"
    tabindex="-1"
    [id]="
      service.id +
      '-listbox-option-' +
      (groupIndex !== null
        ? getOptionIndexFromGroups(groupIndex, index)
        : index)
    "
    class="listbox-option"
    [class.grouped-option]="groupIndex !== null"
    [ngClass]="
      groupIndex !== null
        ? 'listbox-option-' + getOptionIndexFromGroups(groupIndex, index)
        : 'listbox-option-' + index
    "
    [class.current]="
      (activeIndex.activeIndex$ | async) ===
        (groupIndex !== null
          ? getOptionIndexFromGroups(groupIndex, index)
          : index) && (option.disabled$ | async) !== true
    "
    [class.disabled]="option.disabled$ | async"
    [class.keyboard-current]="
      (service.isKeyboardEvent$ | async) &&
      (activeIndex.activeIndex$ | async) ===
        (groupIndex !== null
          ? getOptionIndexFromGroups(groupIndex, index)
          : index) &&
      (option.disabled$ | async) !== true
    "
    [class.multi]="isMultiSelect"
    [class.selected]="option.selected$ | async"
    [attr.aria-checked]="isMultiSelect ? (option.selected$ | async) : null"
    [attr.aria-selected]="!isMultiSelect ? (option.selected$ | async) : null"
    [attr.aria-disabled]="option.disabled$ | async"
    data-cy="listbox-option"
    (click)="handleOptionClick($event, index, groupIndex)"
    (mousedown)="handleOptionMousedown()"
  >
    <ng-container *ngTemplateOutlet="option.template"></ng-container>
  </div>
</ng-template>

<ng-template #nullContent></ng-template>
