@import 'vars', 'placeholders';

:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.section-header {
  @extend %h3;
  text-align: center;
  padding-bottom: $grid-1;
}

.charts-container {
  display: flex;
  flex-direction: column;
  padding-top: $grid-4;
}

.all-schools-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  grid-gap: $grid-6;
}

.school-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: $grid-6;
}

.school-name {
  @extend %small-caps;
  @extend %slab-medium;
  line-height: 1;
  height: 100%;
  padding-bottom: $grid-3;
}
