<div class="schools-encapsulation-container">
  <p class="description"
    >The charts below show jobs by institution across years in the dataset.
    Institutions are displayed by country, and sorted by default by the total
    number of jobs per school. Each square in a chart represents one job.
    Squares are colored by listed field(s) for the position.
  </p>
  <p class="description"
    >Hover over a job to view information about its field(s), tenure status,
    rank, and year listed.</p
  >
  <app-school-filters class="filters-component"></app-school-filters>
  <p class="legend-label">Displayed fields</p>
  <div class="legend">
    @for (field of (dataService.state$ | async).field; track $index) {
      <div class="legend-item">
        <div
          class="legend-color"
          [style.background]="field | appColorForField"
        ></div>
        <p class="legend-text">{{ field }}</p>
      </div>
    }
  </div>
  @if (dataService.dataBySchool$ | async; as countries) {
    @if (countries.length > 0) {
      <div class="charts-container">
        @for (country of dataService.dataBySchool$ | async; track $index) {
          @if (country.jobsBySchool.length > 0) {
            <mat-expansion-panel
              hideToggle
              [expanded]="panelIsOpen[$index]"
              (opened)="panelIsOpen[$index] = true"
              (closed)="panelIsOpen[$index] = false"
              class="mat-elevation-z0 country-expansion-panel"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h3 class="country-name">{{ country.country }}</h3>
                </mat-panel-title>
                <mat-panel-description>
                  <p class="num-schools"
                    >{{ country.jobsBySchool.length }} schools</p
                  >
                  <span
                    class="material-symbols-outlined expand-icon"
                    [class.expanded]="panelIsOpen[$index]"
                    >expand_more</span
                  >
                </mat-panel-description>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <div
                  class="all-schools-container"
                  [style.--chart-width]="16 * numYears + 'px'"
                >
                  @for (school of country.jobsBySchool; track $index) {
                    <div class="school-container">
                      <h4
                        class="school-name"
                        [appSubstringHighlight]="
                          (dataService.state$ | async).searchTerms
                        "
                        [string]="school.school"
                      ></h4>
                      <app-school-chart
                        class="school-chart"
                        [jobsByYear]="school.jobsByYear"
                        [years]="dataService.yearRange"
                        [isFirstColumn]="$index % 5 === 0"
                      ></app-school-chart>
                    </div>
                  }
                </div>
              </ng-template>
            </mat-expansion-panel>
          }
        }
      </div>
    } @else {
      <p class="no-schools-text">No schools match search/filter criteria.</p>
    }
  }
</div>
