@use 'vars' as *;
@use 'placeholders' as *;
@use 'typography' as *;
@use 'functions' as *;

.schools-encapsulation-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .section-header {
    @extend %h5;
    text-align: center;
    padding-bottom: grid(4);
  }

  .description {
    max-width: 600px;
    line-height: 1.5;
    padding-bottom: grid(6);
    align-self: center;
    width: 100%;
  }

  .filters-component {
    display: block;
    padding-top: grid(6);
  }

  .legend-container {
    display: flex;
    gap: grid(6);
  }

  .legend-label {
    padding-top: grid(4);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    padding-bottom: grid(1);
    padding-left: grid(2);
  }

  .legend {
    display: flex;
    flex-wrap: wrap;
    padding-left: grid(2);
  }

  .legend-item {
    display: inline-flex;
    align-items: flex-start;
    padding-right: grid(4);
  }

  .legend-color {
    width: grid(3);
    height: grid(3);
    margin-right: grid(1);
    flex-shrink: 0;
    position: relative;
    top: 3px;
  }

  .legend-text {
    @extend %sans-light;
    font-size: 0.9rem;
    line-height: 1.2;
  }

  .charts-container {
    display: flex;
    flex-direction: column;
    padding-top: grid(8);
    margin: 0 grid(4);
  }

  // seems like this extra class is needed for specificity?
  .mat-expansion-panel.country-expansion-panel {
    --mat-expansion-container-shape: 0px;
    overflow: visible;
    width: 100%;
    border-bottom: none !important;

    .mat-expansion-panel-header {
      --mat-focus-indicator-border-width: 0px;
      border-radius: 0px;
      padding: 0;
      transition: background-color 0.25s ease-in-out;
      transition: border-bottom-color 0.25s ease-in-out;

      .country-name,
      .num-schools {
        transition: color 0.25s ease-in-out;
      }

      &.mat-expanded {
        height: 48px; // match closed style (48px is angular default)

        .mat-content {
          .country-name,
          .num-schools {
            @extend %sans-semibold;
          }

          .country-name {
            color: $color-highlight;
            font-weight: 500;
          }

          .num-schools {
            color: $color-highlight;
          }

          .expand-icon {
            color: $color-highlight;
          }
        }
      }

      &:not(.mat-expanded):not(:hover) {
        border-bottom: 1px solid $color-light-gray-dark;
      }

      &.cdk-keyboard-focused {
        border: 2px solid black;
      }

      &:hover {
        background-color: $color-light-gray-lightest;

        &:not(.mat-expanded) {
          background-color: $color-light-gray-lightest;
          border-bottom: 1px solid $color-highlight;
        }

        .expand-icon {
          color: $color-highlight;
        }

        .mat-content {
          background-color: inherit;
        }

        .country-name,
        .num-schools {
          color: $color-highlight;
        }
      }
    }

    // a span that wraps United States +  491 Schools arrow
    .mat-content {
      margin: 0;
      padding: grid(1) grid(1) grid(1) grid(2);
      background-color: white;
      transition: background-color 0.2s ease-in-out;
      transition: border-bottom 0.2s ease-in-out;
    }

    // wraps "United States"
    .mat-expansion-panel-header-title {
      transition: background-color 0.2s ease-in-out;
      transition: border-bottom 0.2s ease-in-out;

      .country-name {
        @extend %sans-regular;
        font-size: 1rem;
        line-height: 1.2;
      }
    }

    // wraps "491 Schools"
    .mat-expansion-panel-header-description {
      flex-grow: 0;
      margin-right: 0;
    }

    .expand-icon {
      transition: transform 0.2s ease-in-out;
      transition: color 0.2s ease-in-out;
      transform: scale(1.3) rotate(90deg);
      position: relative;
      top: 2px;
      transform-origin: center center;

      &.expanded {
        transform: scale(1.3) rotate(270deg);
      }
    }

    .mat-expansion-panel-content {
      // border-bottom: 1px solid $color-dark-gray;
      padding: 0 grid(2);
      background-color: white;
      overflow: hidden;
    }

    .mat-expansion-panel-body {
      padding: grid(4) 0 grid(2) 0;
      background-color: white;
      overflow: visible;

      > *:not(:last-child) {
        display: block;
        padding-bottom: grid(4);
      }

      > * {
        padding-top: 0;
      }
    }

    .num-schools {
      white-space: nowrap;
      padding-right: grid(4);
    }
  }

  .all-schools-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--chart-width), 1fr));
    grid-auto-rows: 1fr;
    row-gap: grid(10);
    column-gap: grid(6);
    padding-bottom: grid(4);
  }

  .school-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--chart-width);
    justify-self: center;
  }

  .school-name {
    @extend %slab-expressive-medium;
    font-size: 0.9rem;
    line-height: 1;
    padding-bottom: grid(1);
    height: grid(6);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .highlight {
      background-color: $color-search-highlight;
    }
  }

  .no-schools-text {
    @extend %sans-medium;
    padding: grid(6) grid(4);
  }
}
