<h2 class="section-header">View jobs by institution</h2>
<div class="charts-container">
  <div
    class="country-container"
    *ngFor="let country of dataService.dataBySchool$ | async"
  >
    <h3>{{ country.country }}</h3>
    <div class="all-schools-container">
      <div
        class="school-container"
        *ngFor="let school of country.jobsBySchool; let i = index"
      >
        <h4 class="school-name">{{ school.school }}</h4>
        <app-school-chart
          class="school-chart"
          [jobsByYear]="school.jobsByYear"
          [years]="yearRange"
          [isFirstColumn]="i % 5 === 0"
        ></app-school-chart>
      </div>
    </div>
  </div>
</div>
