<div
  class="vic-legend-color-scale vic-discontinuous"
  [ngClass]="['vic-' + orientation, 'vic-' + valuesSide]"
  [class.vic-categorical]="config.binType === VicValuesBin.categorical"
  [style.--border-color]="outlineColor"
  [style.--width]="width + 'px'"
  [style.--height]="height + 'px'"
  [style.--num-colors]="colors.length"
  [style.--value-space]="largerValueSpace + 'px'"
  [style.left.px]="leftOffset"
>
  <ng-container
    *ngIf="
      (orientation === 'vertical' && valuesSide === 'left') ||
      (orientation === 'horizontal' && valuesSide === 'top')
    "
  >
    <ng-container *ngTemplateOutlet="valuesDisplay"></ng-container>
  </ng-container>
  <div class="vic-legend-colors-container">
    <div
      class="vic-legend-color-padding"
      *ngIf="config.binType !== VicValuesBin.categorical"
    ></div>
    <div
      *ngFor="let color of colors"
      class="vic-legend-color vic-discontinuous"
      [style.background-color]="color"
      [style.--border-color]="outlineColor"
    >
    </div>
  </div>
  <ng-container
    *ngIf="
      (orientation === 'vertical' && valuesSide === 'right') ||
      (orientation === 'horizontal' && valuesSide === 'bottom')
    "
  >
    <ng-container *ngTemplateOutlet="valuesDisplay"></ng-container>
  </ng-container>
</div>

<ng-template #valuesDisplay>
  <div class="vic-legend-values-container vic-discontinous">
    <p class="vic-value" *ngFor="let value of values; let i = index">
      {{ value }}
    </p>
  </div>
</ng-template>
