.listbox-label {
  padding: var(--listbox-label-padding);
  font-size: var(--listbox-label-font-size);
  font-weight: var(--listbox-label-font-weight);
  text-transform: var(--listbox-label-text-transform);
  margin-right: var(--listbox-label-margin-right);
}
