@use 'sass:meta';
// create mixin
@mixin map-scss-vars-into-css-vars($map, $prefix: '', $key: '') {
  @each $name, $value in $map {
    // copy the map key
    $key-copy: $key;
    // create name for CSS custom property that contains:
    // current key + child key from nested map
    @if $name != 'rest' {
      $key: #{$key}-#{$name};
    }
    @if meta.type-of($value) == 'map' {
      // if value is a map, invoke it once more
      @include map-scss-vars-into-css-vars($value, $prefix, $key);
    } @else if $prefix == '' {
      -#{$key}: #{$value};
    } @else {
      --#{$prefix}#{$key}: #{$value};
    }
    // next iteration of loop should go with unchanged key
    $key: $key-copy;
  }
}
