@use 'sass:color';
@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;

.radio-input-group {
  display: inline-flex;
}

.radio-input-label {
  @extend %slab-medium;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100px;
  font-size: 0.85rem;
  border: 1px solid $color-highlight;
  padding: grid(2) grid(2) 6px grid(2);
}

.radio-input-label.selected {
  border: 1px solid $color-highlight;
  background-color: $color-highlight;
  color: white;
}

.radio-input-label:not(.selected) {
  border: 1px solid $color-highlight;
  background-color: white;
  color: $color-highlight;
}

.radio-input-label:not(.selected):hover {
  background: $color-light-gray-light;
}
