<div class="job-rect">
  <div
    *ngFor="let field of job.field"
    class="field-rect"
    [style.--color]="field | appColorForField"
  ></div>
  <vic-html-tooltip
    *ngIf="(tooltipConfig$ | async)?.show"
    [config]="tooltipConfig$ | async"
    [template]="htmlTooltip"
  ></vic-html-tooltip>
</div>
<ng-template #htmlTooltip
  ><div class="job-tooltip-container"
    ><div class="tooltip">
      <p class="year">{{year}}</p>
      <p
        *ngFor="let field of job.field"
        class="field"
        [style.--color]="field | appColorForField"
        >{{field}}</p
      >
      <p class="tenure"
        ><span class="value">{{job.isTt | appTenureReadout}}</span></p
      >
      <div class="rank"
        ><p class="label">rank</p
        ><p
          *ngFor="let rank of job.rank.split(', '); let isLast = last"
          class="value"
          >{{rank | appRankReadout}}<span *ngIf="!isLast">,</span></p
        ></div
      ></div
    ><svg
      width="100%"
      height="12"
      [style.--width]="'20px'"
      class="svg-triangle"
    >
      <g class="svg-g">
        <path class="triangle-path" d="M 0,0 10,12 20,0" fill="white"></path>
      </g></svg></div
></ng-template>
