@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;

.job-rect {
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid white;
}

.field-rect {
  flex-grow: 1;
  flex-shrink: 0;
  background: var(--color, dodgerblue);
}

.job-tooltip-container {
  $tt-outline-color: $color-light-gray-dark;
  $tt-background-color: $color-light-gray-lightest;

  .tooltip {
    background: $tt-background-color;
    border: 1px solid $tt-outline-color;
    border-radius: grid(1);
    padding: grid(2);
    line-height: 1;

    .year {
      @extend %subtitle2;

      // margin-bottom: grid(1);
      padding-bottom: grid(1);
    }

    .tenure {
      padding-top: grid(2);
      border-top: 1px solid $color-light-gray-dark;
    }

    .rank .label {
      padding-top: grid(1);
      @extend %small-caps-overline;
    }

    .field {
      color: var(--color, dodgerblue);
      font-weight: 500;
      padding-bottom: grid(1);
    }
  }

  .svg-triangle {
    $x-offset: calc(50% - (var(--width) / 2));
    display: block;
    transform: translate(#{$x-offset}, -2px);
    fill: $tt-background-color;

    .triangle-path {
      fill: $tt-background-color;
      stroke: $tt-outline-color;
    }
  }
}
