<div class="selection-container value-type">
  <div class="selection-instructions value-type"
    ><p class="instruction-label">Select a value type</p
    ><p class="instruction-text"
      >Select <span class="label-ref-text">count</span> to view the number of
      jobs for the specified field / tenure status / rank / year.</p
    >
    <p class="instruction-text"
      >Select <span class="label-ref-text">percent</span> to view the share of
      jobs for the specified field / tenure status / rank / year.</p
    ></div
  >
  <app-value-type-selection class="value-type-selection-component">
  </app-value-type-selection>
  <p class="selection-instructions instruction-text denominator-text"
    >When values are percentages, the demoninator is the number of jobs for a
    year for all non-disaggregated variables. (For example, if you are looking
    at multiple tenure statuses among assistant professor Architecture jobs, the
    demoninator is the total numer of assistant professor Architecture jobs for
    that year.)</p
  >
</div>
