@import 'mixins', 'vars';

//encapsulation: none

.content-container {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  // background: $content-background-color;
  overflow-y: hidden;

  .close-panel-icon {
    align-self: flex-end;
    margin: 8px;

    svg {
      height: 32px;
      width: 32px;
      fill: $primary-text-color;
      vertical-align: text-top;
      align-self: flex-end;
    }
  }
}
