@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'colors';

.schools-filters-encapsulation-container {
  display: flex;
  flex-direction: column;

  .container-title {
    @extend %sans-medium;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    padding-bottom: grid(2);
  }

  .selectors-container {
    display: flex;
    background: colors.$tertiary-97;
    padding: grid(3);
    border-radius: grid(1);

    @media screen and (max-width: 1079px) {
      flex-direction: column-reverse;

      .filters-container {
        padding-left: 0;

        .filters-row {
          flex-wrap: wrap;
        }

        .fields-combobox,
        .tenure-combobox,
        .rank-combobox {
          flex-grow: 1;
        }
      }

      .search-sort-container {
        border-right: none;
        border-top: 1px solid $color-light-gray-medium;
        display: flex;
        flex-direction: row;
        padding-top: grid(2);
        margin-top: grid(3);
        gap: grid(4);

        @media screen and (max-width: 550px) {
          gap: grid(2);
          flex-direction: column;
        }
      }

      .search-feature {
        flex-basis: 65%;

        .search-input {
          height: 38px;
        }
      }

      .sort-container {
        flex-basis: 35%;
        display: flex;
        flex-direction: column;
        padding-top: 0;
        flex-grow: 1;
      }

      .sort-selection {
        width: 100%;
      }
    }

    @media screen and (min-width: 1080px) {
      .filters-container {
        padding-left: grid(4);
      }

      .search-sort-container {
        padding-right: grid(4);
        border-right: 1px solid $color-light-gray-medium;
      }
    }
  }

  .search-sort-container {
    flex-grow: 1;
  }

  .filters-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .selection-label {
    @extend %subtitle2;
    padding-bottom: grid(1);
    line-height: 1.2;
  }

  .filters-row {
    display: flex;
    flex-direction: row;
    gap: grid(3);
  }

  .search-feature {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .search-input-container {
      display: flex;
      align-items: center;
      position: relative;
    }

    .search-input {
      @extend %sans-regular;
      font-size: 1rem;
      height: 42px;
      padding: grid(1) grid(2);
      border: 1px solid colors.$tertiary-90;
      border-radius: grid(1);
      flex-grow: 1;

      &::placeholder {
        @extend %sans-light;
        font-size: 1rem;
        flex-grow: 1;
        color: colors.$tertiary-70;
        font-style: italic;
        opacity: 1;
      }

      &:focus {
        border: 1px solid colors.$tertiary-80;
        outline: none;

        &::placeholder {
          color: colors.$tertiary-60;
        }
      }

      &:hover {
        outline: none;
        border: 1px solid colors.$tertiary-80;

        &::placeholder {
          color: $color-dark-gray;
        }
      }
    }

    .clear-search-button {
      position: absolute;
      right: grid(2);
      top: 7px;
      color: colors.$tertiary-40;
    }
  }

  .fields-combobox,
  .tenure-combobox,
  .rank-combobox {
    @extend %combobox-styles;
    min-width: 220px;

    .combobox-label {
      display: flex;
      justify-content: space-between;
      padding-bottom: grid(1);
      line-height: 1;

      .dropdown-label {
        // @extend %typography-ui-label-sm-semibold;
        padding-right: grid(2);
        @extend %sans-regular;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-size: 0.8rem;
      }

      .available-count {
        text-align: right;
      }
    }

    .combobox-textbox {
      padding: grid(2);

      .textbox-label {
        line-height: 1.2;
      }
    }

    .textbox-icon {
      transition: all 100ms ease-in-out;
      transform-origin: 14px 12px;

      &.open {
        rotate: 90deg;
      }
    }

    .expand-icon {
      position: relative;
      left: grid(1);
    }

    .option-container {
      padding-left: grid(2);

      .option-label {
        padding: grid(2);
        line-height: 1;
      }
    }
  }

  .sort-container {
    display: flex;
    align-items: baseline;
    padding-top: grid(4);
    // flex-direction: column;
    // justify-content: space-between;

    .selection-label {
      white-space: nowrap;
      padding-right: grid(3);
      font-size: 0.9rem;
    }
  }

  .sort-selection {
    display: flex;
    font-size: 0.9rem;
    border: 1px solid $color-light-gray-light;
    flex-grow: 1;
    overflow: visible;

    &:hover {
      border: 1px solid $color-light-gray-dark;
    }

    .arrow-icon {
      transform: scale(0.55);
      position: relative;
      top: -2px;
      width: 8px;
    }

    .mat-button-toggle {
      display: flex;
      flex-direction: column;
      background: white;
      flex-grow: 1;

      &:first-child {
        border-top-left-radius: grid(1);
        border-bottom-left-radius: grid(1);
      }

      &:last-child {
        border-top-right-radius: grid(1);
        border-bottom-right-radius: grid(1);
      }

      &:not(:last-child) {
        border-right: 1px solid $color-light-gray-light;
      }

      &.sort-option.cdk-keyboard-focused {
        @extend %focus-ring-style;
      }
    }

    .mat-button-toggle-checked {
      background: rgba($color-dark-primary, 0.5);
      background: $color-highlight;
      color: white;
    }

    .mat-button-toggle-button {
      flex-grow: 1;
    }
  }
}
