@use 'placeholders' as *;

.close-button {
  display: flex;
  align-items: center;
  background: transparent;
  border-radius: grid(1);
  color: var(--color, white);

  &.hidden {
    height: 0;
  }

  &:hover {
    background: var(--hover-background);

    .button-label {
      text-decoration: underline;
    }
  }

  .button-label {
    display: inline-block;
    padding-left: grid(1);
  }

  .close-icon {
    transform: scale(0.9);
    position: relative;
    left: 2px;
  }
}
