<div class="header">
  <p class="from">from</p>
  <p class="name">{{ comment.userName }}</p>
  <p class="date">{{ comment.date.toDate() | date: 'mediumDate' }}</p>
</div>
<div class="content">
  <p class="content-text">{{ comment.content }}</p>
  <button class="reply-button" (click)="onReply()" #replyButton>Reply</button>
  <div *ngIf="showCreateComment" @slide>
    <app-create-comment
      [parentId]="comment.fsId"
      [postId]="postId"
      class="create-comment-component"
      (closeEvent)="onCloseComment()"
    ></app-create-comment>
  </div>
  <app-comment
    *ngFor="let reply of comment.replies"
    class="comment-component nested"
    [postId]="postId"
    [parentId]="comment.fsId"
    [comment]="reply"
  ></app-comment>
</div>
