@import 'vars', 'placeholders', 'functions';

$frame-color: get($colors, 'grays.light-2');

:host {
    box-shadow: $drop-shadow-lightest;
}

.header {
    background: $frame-color;
    padding: 0 1rem;
}

.from {
    @extend %small-caps;
    @extend %sans-regular;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.name {
    @extend %slab-bold;
    font-size: 1.15rem;
    padding-bottom: 0.125rem;
}

.date {
    @extend %sans-regular-italic;
    padding-bottom: 0.25rem;
}

.content {
    border: 2px solid $frame-color;
    padding: 1.5rem;
    padding-bottom: 1rem;
    background: white;
}

.content-text {
    padding-bottom: 1rem;
}

.reply-button {
    @extend %comment-button;
    font-size: 0.9rem;
    padding: 0.5rem 0.65rem 0.4rem 0.65rem;
}

.create-comment-component {
    display: block;
}

.comment-component.nested {
    display: block;
    margin-top: 1rem;
}
