@use 'vars' as *;
@use 'placeholders' as *;
@use 'typography' as *;
@use 'functions' as *;

$frame-color: $color-light-gray-medium;

:host {
  box-shadow: $drop-shadow-lightest;
}

.header {
  background: $frame-color;
  padding: 0 1rem;
}

.from {
  @include label-small-caps;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.name {
  @extend %slab-expressive-bold;
  font-size: 1.15rem;
  padding-bottom: 0.125rem;
}

.date {
  font-style: italic;
  padding-bottom: 0.25rem;
}

.content {
  border: 2px solid $frame-color;
  padding: 1.5rem;
  padding-bottom: 1rem;
  background: white;
}

.content-text {
  padding-bottom: 1rem;
}

.reply-button {
  @extend %comment-button;
  font-size: 0.9rem;
  padding: 0.5rem 0.65rem 0.4rem 0.65rem;
}

.create-comment-component {
  display: block;
}

.comment-component.nested {
  display: block;
  margin-top: 1rem;
}
