@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'mixins' as *;

:host {
  @extend %navbar;
  display: flex;
  align-items: center;
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  grid-column-gap: 0.25rem;
  width: 100%;

  .return-button {
    @extend %slab-bold;
    font-size: 1rem;
    line-height: 1rem;
    cursor: pointer;
    padding-top: 0.5rem;

    @include breakpoint-max(600px) {
      font-size: 0.8rem;
    }
  }

  .project-name {
    @extend %h5;
    padding-top: 0.5rem;
    text-align: center;
    @include breakpoint-max(600px) {
      font-size: 1rem;
    }
  }
}
