@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'mixins' as *;

:host {
  @extend %navbar;
  display: flex;
  align-items: center;
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  grid-column-gap: grid(1);
  width: 100%;

  .return-button {
    @extend %slab-expressive-bold;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    line-height: 1rem;
    padding-top: grid(2);
    transition: all 0.2s ease-in-out;

    @include breakpoint-max(600px) {
      font-size: 0.8rem;
    }

    &:hover {
      color: $color-highlight;
    }
  }

  .return-text {
    padding-left: grid(3);
  }

  .arrow {
    rotate: 180deg;
    transform-origin: center;
    position: relative;
    top: -12px;
  }

  .project-name {
    @extend %h5;
    padding-top: grid(2);
    text-align: center;
    @include breakpoint-max(600px) {
      font-size: 1rem;
    }
  }
}
