@import 'vars', 'placeholders';

$leaving-highlight: $color-highlight;

.card {
    @extend %flex-column;
    background: white;
    margin-bottom: $space-4;
    padding: $space-4 $space-6;
    box-shadow: $subtler-drop-shadow;

    .question-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-left: 1px solid $dark-primary;
        border-bottom: 1px solid $dark-primary;
        margin: $space-2 0 $space-3 0;
        padding-left: $space-1;

        &.collapse:hover {
            cursor: pointer;
            background: $highlight-light;
            border-left: 1px solid $leaving-highlight;
            border-bottom: 1px solid $leaving-highlight;

            .question {
                color: $leaving-highlight;
                font-weight: 800;
            }

            .arrow-icon svg {
                fill: $leaving-highlight;
                stroke: $leaving-highlight;
            }
        }
    }

    .question {
        @extend %slab-bold;
        font-size: 1.2rem;
        padding: $space-3 $space-2 $space-2 $space-2;
        line-height: 1.5rem;
        text-align: left;
    }

    .answer-container {
        padding-right: $space-2;
        padding-left: $space-2;
    }

    .answer-text {
        @extend %sans-regular;
        font-size: 1.1rem;
        padding-bottom: 1.2rem;
    }

    .list-label {
        @extend %sans-regular-italic;
        padding-bottom: $space-2;

        &.q10 {
            padding-top: $space-4;
        }
    }

    .list-container {
        padding: 0 $space-6 $space-2 $space-6;
    }

    .list-item {
        @extend %sans-regular;
        font-size: 1.1rem;
        padding-bottom: $space-2;
    }

    .italics {
        @extend %sans-regular-italic;
    }

    .arrow-icon {
        padding-right: $space-1;

        &.down {
            position: relative;
            top: $space-1;
        }
        &.up {
            position: relative;
            top: -$space-1;
        }

        svg {
            height: 14px;
            width: 21px;
            fill: $dark-primary;
            stroke: $dark-primary;
        }
    }
}
