<div class="card" [id]="'leaving-academia-' + question.id">
    <ng-container *ngIf="toggle">
        <button class="question-container collapse" (click)="toggleQuestion()">
            <h4 class="question">{{ question.q }}</h4>
        </button>
    </ng-container>
    <ng-container *ngIf="!toggle">
        <div class="question-container">
            <h4 class="question">{{ question.q }}</h4>
            <app-svg-icon
                class="arrow-icon"
                [ngClass]="{ up: expanded, down: !expanded }"
                [name]="getIcon()"
            ></app-svg-icon>
        </div>
    </ng-container>
    <ng-container *ngIf="((toggle && expanded) || !toggle) && !textIsHtml()">
        <p *ngFor="let answer of question.a" class="answer-text">{{ answer }}</p>
    </ng-container>
    <ng-container *ngIf="((toggle && expanded) || !toggle) && textIsHtml()" [ngSwitch]="question.id">
        <ng-container *ngSwitchCase="'q7'">
            <ng-container *ngTemplateOutlet="q7Template"></ng-container>
        </ng-container>
    </ng-container>
</div>

<ng-template #q7Template>
    <p class="answer-text">
        There are some things I would never tell people to do—for example, "you absolutely should (or shouldn't) leave
        academia"—but there is one thing that I tell everyone to do without hesitation and with a lot of conviction:
    </p>
    <p class="answer-text" style="text-align: center; font-weight: 500; text-transform: uppercase">
        Talk to anyone you can talk to.
    </p>
    <p class="answer-text">
        I would recommend starting by asking everyone you know if they know anyone who was in a remotely similar
        situation/field as yours who has left academia and ask if they could put you in touch. Do not turn down any
        offered connection / conversation down. Maybe you are like, "I'm a comp lit person and my friend offered to put
        me in touch with their friend who left academia with a CS PhD and now is at Google—that's not going to be
        applicable!" Wrong, talk to that person. If someone offers a conversation with someone in an industry you are
        competely opposed to working in, take them up on their offer.
    </p>
    <p class="answer-text">
        Why do I think this is so important?
        <span style="font-weight: 700">
            My experience is that it is extremely difficult to understand the landscape of jobs, roles, and
            organizations outside of academia from within it.
        </span>
        And if you don't know that things exist, you can't want to do them, apply to them, be knowledgable enough to
        have a successful interview, and so forth.
    </p>
    <p class="answer-text">
        If you don't know what you would ask in these kinds of conversations, here are some ideas:
    </p>
    <p>For people who left a similar situation as yours:</p>
    <ul>
        <li>How did you get interested in your current field?</li>
        <li>How did you get your first job in your current field?</li>
        <li>What was the most important thing you did in terms of finding new opporunities?</li>
        <li>What was the biggest surprise for you in leaving academia to do something else?</li>
    </ul>
    <p>For everyone:</p>
    <ul>
        <li>
            Can you give me a high-level overview of the landscape of your field/industry? (i.e. a specific non-profit
            sector, a sector of tech, tech at large, consulting, federal government, think-tanks, etc.) What is the job
            market like in it?
        </li>
        <li>
            Generally, what roles are in your organization? Particularly, which would be open to someone like me
            [describe what you think you are good at, any special skills that may be relevant, and what you think you
            may be good at with training/experience] Are there roles that would be a good fit (i.e. they would hire me,
            I would find it engaging) for someone like me if I had a bit of additional training and experience that I
            could realistically get in the next year or two?
        </li>
        <li>Which of these roles are roles that exist across your field/industry?</li>
        <li>
            Are there any growth/new areas in your industry where there is a lot of demand for employees but no formal
            educational path to hire from?
        </li>
        <li>What do you like about your industry? What do you like about your particular job?</li>
        <li>What is the worst part of your industry? What is the worst part of your job?</li>
        <li>
            Do you know anyone who you think it would be helpful for me to talk with further? (i.e. someone with similar
            experiences or background to mine)
        </li>
    </ul>
</ng-template>

<ng-template #q7> </ng-template>
