@import 'vars', 'placeholders';

$rColor: #f4003d;
$dColor: #2437ff;
$dMapColor: #394bff;
$initialColor: #cccccc;
$beyond-mono: 'Roboto Mono';
$button-fill: #bbbbbb;
$button-hover: #aaaaaa;
$button-active: #999999;
$zoombox-text-color: #bbb;

.beyond-intro {
    @extend %flex-column;
    max-width: 740px;
    margin: 0 auto;

    p {
        @extend %sans-regular;
        padding-top: 1rem;
        text-align: justify;
        color: rgba($dark-primary, 0.85);

        &:last-of-type {
            padding-bottom: 1rem;
        }
    }
}

.beyond-div {
    @extend %flex-column;
    background: white;
    font-family: 'Roboto';
    align-items: center;
    padding-bottom: 64px;

    .click-overlay {
        fill: none;
        pointer-events: all;
    }

    .click-overlay-variable {
        fill: none;
    }

    .map-text {
        font: 14px $beyond-mono;
        font-weight: 400;
        fill: $zoombox-text-color;
        stroke: none;
        text-anchor: end;
    }

    .map-text-sm {
        font: 11px $beyond-mono;
        font-weight: 400;
        fill: $zoombox-text-color;
        stroke: none;
        text-anchor: end;
    }

    .map-sel-text {
        font: 11px $beyond-mono;
        font-weight: 400;
        fill: $zoombox-text-color;
        stroke: none;
        text-anchor: end;
    }

    .reset-text {
        font: 14px $beyond-mono;
        font-weight: 400;
        fill: $zoombox-text-color;
        stroke: none;
        text-anchor: end;
    }

    .city {
        fill: none;
        stroke: black;
        vector-effect: non-scaling-stroke;
    }
    .town {
        fill: none;
        stroke: black;
        vector-effect: non-scaling-stroke;
    }
    .city-label {
        font: 400 0.7rem $beyond-mono;
        fill: black;
        stroke: none;
    }
}
