@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;

$beyond-mono: 'Roboto Mono';
$max-width: 720px;

:host {
  --max-section-width: 1240px;
  --max-text-width: 720px;
  --color-r: #f4003d;
  --color-d: #2437ff;
  --color-d-map: #394bff;
  --color-initial: #cccccc;
  --color-button-background: #bbbbbb;
  --color-button-hover: #aaaaaa;
  --color-button-active: #999999;
  --color-zoombox-text: #bbb;
  --color-title: #666666;
  --mobile-warning-max-width: 720px;

  margin: 0 auto;
  padding: 0 grid(4);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; // ensures that wide constainers shrink with browser window
  max-width: var(--max-section-width);

  @media screen and (max-width: 1080px) {
    padding-right: 0;
    padding-left: 0;
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;

  @media screen and (max-width: 1080px) {
    padding-right: 8%;
    padding-left: 8%;
  }
}

.description {
  max-width: $max-width;
  line-height: 1.65;
  align-self: flex-start;

  &:not(:last-child) {
    padding-bottom: grid(6);
  }
}

.section.intro {
  width: initial;
  padding-bottom: 1rem;
}

.section.data {
  @extend %flex-column;
  font-family: 'Roboto';
  align-items: center;
  padding-bottom: 64px;

  .beyond-selectors {
    display: flex;
    flex-direction: column;
    padding: 24px 0;

    input[type='radio'],
    input[type='checkbox'] {
      @extend %visuallyhidden;
    }

    label {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: $beyond-mono;
      font-size: 14px;
      padding: 6px 10px;
      border: 1px solid var(--color-button-active);
      color: var(--color-button-active);
      width: 120px;

      &.selected {
        background: #cccccc;
        color: white;
      }
    }

    .button-group-item {
      &:not(:first-child) {
        label {
          border-left: none;
        }
      }
    }
  }

  .election-selectors,
  .demo-selectors {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;

    & > div:first-of-type {
      margin-right: 18px;
    }
  }

  .election-selectors {
    padding-bottom: 1rem;
  }

  .demo-selectors {
    label {
      height: 48px;
      line-height: 0.9rem;
    }
  }

  .election-year-selectors,
  .election-type-selectors,
  .demo-type-selectors {
    display: flex;
  }

  .bars-title,
  .map-title {
    font-family: $beyond-mono;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-title);

    &.subtitle {
      font-size: 12px;
    }
  }

  .legend-container {
    display: flex;
    padding-top: 18px;
  }

  .inner-legend-container {
    width: 560px;
    padding-top: 4px;
  }

  .legend-bar-container {
    display: flex;
    justify-content: center;
  }

  .legend-bar {
    height: 10px;

    &.dem {
      flex-basis: 45%;
      background: linear-gradient(to right, #3c5bff, #d2e4ff);
    }

    &.rep {
      flex-basis: 45%;
      background: linear-gradient(to right, #f8e5e6, #dd0035);
    }
  }

  .legend-scale-container {
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
  }

  .value-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
  }

  .legend-text {
    font-family: $beyond-mono;
    color: var(--color-button-active);
    font-size: 12px;

    &.party {
      position: relative;

      &.dem {
        left: 12px;
      }

      &.rep {
        right: 12px;
      }
    }

    &.value {
      align-self: center;
    }
  }
}
