<app-mobile-warning [warningWidth]="960"></app-mobile-warning>
<div id="beyond-intro" class="section intro">
  <p class="description">"Demography is destiny." Or is it?</p>
  <p class="description">
    The 2016 Presidential election called into question long-held narratives
    about how demographic change in the United States would effect election
    outcomes. Almost immediately after the election, the idea that America's
    ethnic diversification would ensure Democratic dominance was supplanted by
    claims that a previously overlooked "silent majority" had delivered a
    Republican victory.
  </p>
  <p class="description">
    That the national conversation about American demography could change so
    much more quickly than the facts of who lives in the United States suggests
    that the question of how demographic characteristics do or not map onto
    particular political positions could benefit from methodical examination of
    actual data. Using returns from federal elections in Pennsylvania in 2012
    and 2016, as well as data from the U.S. Census Bureau's American Community
    Survey, this visualization allows users to literally see for themselves how
    five different demographic characteristics did or did not correlate to
    voting outcomes. It does this at a far greater resolution than what typical
    election analysis shows, by displaying both election and demographic data at
    the census tract rather than the usual county level. Disaggregating the data
    from 67 counties to 3,217 census tracts of approximately 4,000 people each
    offers a much more granular view that preserves the small, demographically
    and/or politically homogenous areas that tend to disappear when data is
    presented as county-wide averages, and that were the subject of much debate
    in the fall of 2016.
  </p>
  <p class="description">
    Users can interact with the visualization in a number of ways to understand
    both geographic and demographic trends in 2016 and 2012 elections, as well
    as change between those years. Census tract-level election results displayed
    in the top map can be sorted by demographic characteristic in the lower
    (very long) chart, allowing users to examine the data behind suppositions
    about voting patterns among particular demographic groups. Anomalous census
    tracts — for example, a tract with a high percentage of non-white residents
    that, unlike those who share that demographic characteristic, cast a
    majority of votes for the Republican candidate — can be easily visually
    identified, and then located in the map once selected on the right-hand side
    of the chart.
  </p>
  <p class="description">
    Although the data used in this visualization is readily available, the
    discrepancy between boundaries of voting districts — established and
    administered by state and local authorities — and those of census tracts —
    determined by the U.S. Census Bureau — makes the direct comparison of these
    two datasets challenging, and is one explanation for why few maps with this
    level of detail exist. I created the data shown here by aggregating vote
    totals from 9,256 local voting precincts to the census tracts in which they
    are located, splitting votes in proportion to land area in cases of boundary
    overlap. Because shapefiles are not available for voting precints, this
    operation was performed with correspondence files from the Missouri Census
    Data Center's MABLE/Geocorr14 project. Demographic data comes from the U.S.
    Census Bureau's American Community Survey. Pennsylvania precint-level
    election results are available from Open Elections.
  </p>
  <p class="description">[Spring 2017]</p>
</div>
<div id="beyond-the-county-line" class="section data">
  <app-beyond-map
    [electionYear]="electionYear"
    [electionType]="electionType"
  ></app-beyond-map>
  <p class="map-title">
    <span class="map-title race"
      >{{ getTitleElement('election', 'type') }}:
    </span>
    <span class="map-title year">{{
      getTitleElement('election', 'year')
    }}</span>
  </p>
  <div class="legend-container">
    <p class="legend-text party dem">Democrat</p>
    <div class="inner-legend-container">
      <div class="legend-bar-container">
        <div class="legend-bar dem"></div>
        <div class="legend-bar rep"></div>
      </div>
      <div class="legend-scale-container">
        <div class="value-container" *ngFor="let value of legendValues">
          <p class="legend-text value">{{ value }}</p>
        </div>
      </div>
    </div>
    <p class="legend-text party rep">Republican</p>
  </div>
  <div class="beyond-selectors">
    <div class="election-selectors">
      <div class="election-type-selectors">
        <div
          *ngFor="let button of electionTypeLabels"
          class="election-type-sel button-group-item"
          [class.selected]="isSelectedElectionType(button.value)"
        >
          <input
            type="radio"
            [id]="'election-type-sel-' + button.value"
            [value]="button.value"
            name="electionType"
            [checked]="isSelectedElectionType(button.value)"
          />
          <label
            [for]="'election-type-sel-' + button.value"
            [class.selected]="isSelectedElectionType(button.value)"
            (click)="updateElectionType(button.value)"
            >{{ button.name }}</label
          >
        </div>
      </div>
      <div class="election-year-selectors">
        <div
          *ngFor="let button of electionYearLabels"
          class="election-year-sel button-group-item"
          [class.selected]="isSelectedElectionYear(button.value)"
        >
          <input
            type="radio"
            [id]="'election-year-sel-' + button.value"
            [value]="button.value"
            name="electionYear"
            [checked]="isSelectedElectionYear(button.value)"
          />
          <label
            [for]="'election-year-sel-' + button.value"
            [ngClass]="{ selected: isSelectedElectionYear(button.value) }"
            (click)="updateElectionYear(button.value)"
            >{{ button.name }}
          </label>
        </div>
      </div>
    </div>
    <div class="demo-selectors">
      <div class="demo-type-selectors">
        <div
          *ngFor="let button of demoTypeLabels"
          class="demo-type-sel button-group-item"
          [class.selected]="isSelectedDemoType(button.value)"
        >
          <input
            type="radio"
            [id]="'demo-type-sel-' + button.value"
            [value]="button.value"
            name="demoType"
            [checked]="isSelectedDemoType(button.value)"
          />
          <label
            [for]="'demo-type-sel-' + button.value"
            [ngClass]="{ selected: isSelectedDemoType(button.value) }"
            (click)="updateDemoType(button.value)"
            >{{ button.name }}</label
          >
        </div>
      </div>
      <div
        *ngFor="let button of [demoYearLabels[1]]"
        class="election-year-sel"
        [class.selected]="demoYear === 'change'"
      >
        <input
          type="checkbox"
          [id]="'demo-year-sel-' + button.value"
          name="demoYear"
          [checked]="demoYear === 'change'"
        />
        <label
          [for]="'demo-year-sel-' + button.value"
          [ngClass]="{ selected: demoYear === 'change' }"
          (click)="updateDemoYear()"
          >{{ button.name }}</label
        >
      </div>
    </div>
  </div>
  <p class="bars-title">
    <span class="bars-title demo">{{ getTitleElement('demo', 'type') }}: </span>
    <span class="bars-title year">{{ getTitleElement('demo', 'year') }}</span>
  </p>
  <p class="bars-title subtitle">colored by selected election results</p>
  <app-beyond-bar
    [electionYear]="electionYear"
    [electionType]="electionType"
    [demoYear]="demoYear"
    [demoType]="demoType"
  ></app-beyond-bar>
</div>
