<div class="jobs-by-field-container">
    <h3>All jobs by field, 2011&ndash;2021</h3>
    <div class="charts-container">
        <app-art-history-stacked-area-chart
            [data]="chartData$ | async"
            [x]="stackedAreaChartOptions.x"
            [y]="stackedAreaChartOptions.y"
            [z]="stackedAreaChartOptions.z"
            [width]="stackedAreaChartOptions.width"
            [height]="stackedAreaChartOptions.height"
            [keyOrder]="stackedAreaChartOptions.keyOrder"
            [colorScale]="stackedAreaChartOptions.colorScale"
            [yLabel]="stackedAreaChartOptions.yLabel"
            [xScaleType]="stackedAreaChartOptions.xScaleType"
            [tooltipFormat]="stackedAreaChartOptions.tooltipFormat"
            [xFormat]="stackedAreaChartOptions.xFormat"
            [showTooltip]="stackedAreaChartOptions.showTooltip"
        >
        </app-art-history-stacked-area-chart>
        <app-art-history-table
            #table
            [headers]="tableHeaders"
            [rows]="tableData$ | async"
            (sortedFields)="handleTableSort()"
        ></app-art-history-table>
    </div>
</div>
