<table class="project-list-table">
  <colgroup>
    <col
      *ngFor="let metadata of projectsMetaData"
      class="table-col {{ metadata.colName }}"
    />
  </colgroup>
  <thead class="table-head">
    <tr class="table-row">
      <ng-container *ngFor="let metadata of projectsMetaData">
        <th class="table-header table-cell able-cell-text {{ metadata.colName }}">
          {{ metadata.colTitle }}
        </th>
      </ng-container>
    </tr>
  </thead>
  <tbody class="table-body">
    <tr *ngFor="let project of projects" class="table-row">
      <td
        *ngFor="let metadata of projectsMetaData"
        class="table-cell {{ metadata.colAlignment }} {{ metadata.colName }}"
      >
        <a 
          class="table-cell-text {{ metadata.colName }}"
          [routerLink]="['/projects']"
        >
          {{ getCellText(project[metadata.colName]) }}
        </a>
      </td>
    </tr>
  </tbody>
</table>
