<table class="project-list-table">
  <colgroup>
    <col
      *ngFor="let metadata of projectsMetaData"
      class="table-col {{ metadata.colName }}"
    />
  </colgroup>
  <thead class="table-head">
    <tr class="table-row">
      <ng-container *ngFor="let metadata of projectsMetaData">
        <th class="table-header table-cell {{ metadata.colName }}">
          {{ metadata.colTitle }}
        </th>
      </ng-container>
    </tr>
  </thead>
  <tbody class="table-body">
    <tr *ngFor="let project of projects" class="table-row">
      <td
        *ngFor="let metadata of projectsMetaData"
        class="table-cell {{ metadata.colAlignment }} {{ metadata.colName }}"
      >
        {{ getCellText(project[metadata.colName]) }}
      </td>
    </tr>
  </tbody>
</table>
