@import "vars", "mixins";

.name {
  font-size: 96px;
  font-family: "Roboto Mono";
  color: transparent;
  text-shadow: 6px 6px $name-text-color;
  -webkit-text-stroke-width: 1px;
  -moz-text-stroke-width: 1px;
  -webkit-text-stroke-color: $green-highlight;
  -moz-text-stroke-color: $green-highlight;
  margin-top: 1rem;
}

// .first-name {
//   position: relative;
//   top: 58px;
//   transform: rotate(-30deg) skewX(-30deg) scaleY(0.86);
// }

// .last-name {
//   position: relative;
//   top: 58px;
//   transform: rotate(30deg) skewX(30deg) scaleY(0.86);
// }
