@use 'vars' as *;
@use 'placeholders' as *;
@use 'typography' as *;
@use 'functions' as *;
@use 'colors';

.table-component {
  text-align: left;
  border-collapse: collapse;

  .head {
    .header.cell {
      border-bottom: 1px solid colors.$alt-neutral-55;
    }

    .header.cell:not(:last-child) {
      padding-right: grid(2);
    }

    .header-contents {
      @include font-sans-medium;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-size: 0.7rem;
      display: flex;
      align-items: center;

      .arrows-container {
        .arrow {
          position: relative;
          right: -2px;
          transform: scale(0.8);
        }

        &.desc {
          .arrow.down {
            color: colors.$highlight-default;
          }
        }

        &.asc {
          .arrow.up {
            color: colors.$highlight-default;
          }
        }
      }

      &.sorted {
        @include font-sans-bold;
        color: colors.$highlight-default;
      }
    }

    .header-contents.right {
      float: right;
    }
  }

  .body {
    .cell.data {
      @include label-xs-prominent;
      font-size: 0.85rem;
      line-height: 1.2;
      padding: grid(2) grid(2) 6px grid(2);
      color: var(--color);
      border-bottom: 1px solid colors.$alt-neutral-88;

      &.right {
        @include font-sans-medium;
        font-size: 0.95rem;
        line-height: 1;
        text-align: right;
      }
    }
  }

  .header.row .header.cell,
  .data.row .data.cell {
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}
