<svg
  class="icon"
  viewBox="0 0 61 19"
  xmlns="http://www.w3.org/2000/svg"
  [class.hovered]="hovered"
>
  <path
    class="arrow-leader"
    stroke="currentColor"
    fill="currentColor"
    stroke-linejoin="miter"
    stroke-linecap="square"
    stroke-miterlimit="10"
    stroke-width="2.9091"
    d="M0 2.909h46.545"
  />
  <path
    class="arrow-head"
    stroke="currentColor"
    fill="currentColor"
    d="M34.618 16.291l2.036-2.036 9.891 10.473 9.891-10.473 2.036 2.036-11.927 12.8z"
  />
</svg>
