@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;

.across-chart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  .chart-title {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    line-height: 1.1;
  }

  .tenure-rank {
    @extend %sans-medium;
    color: $color-highlight;
  }

  .time-range-xy-chart {
    .chart-svg {
      overflow: visible;
    }
  }
}

.explore-time-range-tooltip {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 260px;

  $tt-background-color: rgba(white, 0.95);
  $tt-outline-color: $color-light-gray-medium;

  .tooltip-container {
    background: $tt-background-color;
    border: 1px solid $tt-outline-color;
    padding: grid(2);
    border-radius: grid(1);
  }

  .tooltip-label {
    @extend %slab-expressive-regular;
    display: flex;
    flex-direction: column;
    line-height: 1rem;
  }

  .tooltip-label.category {
    line-height: 1.1;
    font-weight: 600;
    color: var(--color);
    border-bottom: 1px solid $color-dark-primary;
    padding-bottom: grid(1);

    .value-label {
      color: $color-dark-primary;
    }
  }

  .value-label {
    @extend %sans-medium;
    text-transform: uppercase;
    font-size: 0.7rem;
    line-height: 1rem;
    letter-spacing: 0.08rem;
  }

  .values-container {
    padding-top: grid(2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .tooltip-label.y {
    justify-self: end;
    align-items: flex-end;
  }

  .percent-sign {
    font-size: 0.9rem;
  }

  .svg-triangle {
    $x-offset: calc(50% - (var(--width) / 2));
    display: block;
    transform: translate(#{$x-offset}, -2px);
    fill: $tt-background-color;

    .triangle-path {
      fill: $tt-background-color;
      stroke: $tt-outline-color;
    }
  }
}
