@use 'vars' as *;
@use 'placeholders' as *;
@use 'mixins' as *;
@use 'functions' as *;
@use 'typography' as *;

$top-padding: grid(1);

:host {
  @extend %navbar;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: grid(2);
}

.my-name {
  flex-grow: 0;
  cursor: pointer;
  @include headline-medium;
  line-height: 1.1;
  padding-top: $top-padding;
  position: relative;
  top: 1px;

  font-size: clamp(1.3rem, 4vw, 2.33rem);
}

.nav-item-container {
  flex-shrink: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  gap: grid(6);
  $padding-top: $top-padding;
  gap: clamp(grid(4), 2vw, grid(6));
}

.nav-item {
  @extend %nav-link;
  @extend %button-behavior;
  font-size: 1rem;
  flex-shrink: 0;
  font-size: clamp(0.8rem, 1.2vw, 1rem);
}
