@import 'mixins', 'vars';

:host {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  color: $primary-text-color;
  background: transparent;
}

.nav-item {
  @include nav-link;
  font-size: 36px;
  font-family: 'Source Sans Pro';
}

.selected {
  border-bottom: 3px solid $green-highlight;
}
