@import 'vars', 'placeholders';

:host {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: $primary-text-color;
}

.nav-item {
  @extend %nav-link;
  font-size: 36px;
  font-family: 'Source Sans Pro';

  &.selected {
    border-bottom: 3px solid $green-highlight;
  }
}


