@import 'vars', 'placeholders';

:host {
    @extend %content-component-host;
    background: $aqua-lightest;
}

.blog-navbar {
    @extend %content-component-navbar;
}

.blog-container {
    @extend %content-component-container;
    @extend %flex-column;
    align-self: center;
    max-width: 840px;
    padding-bottom: $grid-8;
}
