@import 'vars', 'placeholders', 'functions';

:host {
    @extend %content-component-host;
    background: linear-gradient(180deg, get($colors, 'grays.light-4'), get($colors, 'grays.light-3'));
}

.blog-navbar {
    @extend %content-component-navbar;
}

.blog-container {
    @extend %content-component-container;
    @extend %flex-column;
    align-self: center;
    max-width: 840px;
    padding-top: $space-2;
    padding-bottom: $space-8;
}

.header-item {
    align-self: center;
}

.date {
    @extend %subtitle2;
    padding-bottom: $space-2;
}
