<div class="data-type-selection-container">
    <p class="selection-section-label">Select a type of data</p>
    <p class="selection-instructions">
        Select whether you would like to see the total number of jobs for each year or the number of jobs for a
        selection as a share of all jobs.
    </p>
    <app-button-group
        [options]="dataTypeOptions"
        group="tenure"
        (newSelection)="updateDataTypeSelection($event)"
        class="button-toggle"
    ></app-button-group>
</div>
