@import 'vars', 'placeholders';

.html-tooltip-container {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.html-tooltip-content-container {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: $drop-shadow-lightest;
    padding: $space-2;
}
