@import 'vars', 'placeholders';

.stacked-area-tooltip-container {
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    border-radius: $grid-1;
    box-shadow: $drop-shadow-light;
    padding: $grid-2;

    .x-axis-value {
        padding-bottom: $grid-1;
        border-bottom: 1px solid $color-light-gray-light;
        margin-bottom: $grid-1;
    }

    .tooltip-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .area-name-container {
        display: flex;
        padding-right: $grid-2;
        align-items: center;
    }

    .area-value {
        @extend %sans-regular;
        font-size: 0.95rem;
        line-height: 1;
        transform: translate(0, -2px);
    }

    .area-color-square {
        $size: $grid-4;
        height: $size;
        width: $size;
        background: var(--color);
        margin-right: $grid-1;
        border-radius: $grid-1;
    }
}

.line-container {
    position: relative;
}
