<div class="project-overview-container">
    <div class="description">
        <p *ngFor="let text of project.description" class="info-text">{{ text }}</p>
    </div>
    <a
        *ngIf="project.url && project.linkName"
        class="project-link"
        [href]="'http://' + project.url"
        target="_blank"
        rel="noopener"
        >View {{ project.linkName.toLowerCase() }} &rarr;</a
    >
    <a *ngIf="project.routerLink && project.linkName" class="project-link" [routerLink]="[project.routerLink]"
        >View {{ project.linkName.toLowerCase() }} &rarr;</a
    >
    <div class="screenshots-container" *ngIf="project.images">
        <a
            *ngFor="let image of project.images; index as i"
            class="project-link"
            [href]="'http://' + project.url"
            target="_blank"
            rel="noopener"
        >
            <img [src]="image" [alt]="'screenshot ' + i + ' of ' + project.title" class="project-image" />
        </a>
    </div>
</div>
