@import 'vars', 'placeholders', 'mixins';

.project-overview-container {
    padding-bottom: 0.5rem;

    .description {
        padding: 0.5rem 0;

        .info-text {
            font-size: 1rem;
            line-height: 1.8rem;
            padding-bottom: 1.4rem;
        }
    }

    .project-link:not(.image) {
        @extend %button-styles;
        @extend %slab-medium;
        display: inline-flex;
        font-size: 1rem;
        line-height: 1.3rem;
        letter-spacing: 0.2px;
        padding: 3px 0 3px 0;
    }

    .screenshots-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 16px;
        align-items: baseline;
    }

    .project-image {
        object-fit: cover;
        align-self: center;
        width: 400px;
        padding: 6px 0;
        max-width: 100%;
    }
}
