<ng-content select="[title]"></ng-content>
<ng-container [ngSwitch]="legendType">
  <app-continuous-legend
    *ngSwitchCase="'continuous'"
    [width]="width"
    [height]="height"
    [valuesSide]="valuesSide"
    [scale]="attributeDataScale"
    [formatter]="attributeDataConfig.valueFormat"
    [outlineColor]="outlineColor"
    [orientation]="orientation"
  ></app-continuous-legend>
  <app-discontinuous-legend
    *ngSwitchDefault
    [width]="width"
    [height]="height"
    [valuesSide]="valuesSide"
    [scale]="attributeDataScale"
    [formatter]="attributeDataConfig.valueFormat"
    [outlineColor]="outlineColor"
    [orientation]="orientation"
    [isCategorical]="legendType === 'categorical'"
  ></app-discontinuous-legend>
</ng-container>
