<div class="radio-input-container">
    <input
        class="radio-input"
        [id]="uniqueId"
        type="radio"
        [value]="value"
        [formControlName]="formControlName"
        [attr.aria-labelledby]="'label-' + uniqueId"
    />
    <label
        class="radio-input-label"
        [ngClass]="{ selected: selected, disabled: option.disabled }"
        title="{{ option.disabled && disabledMessage ? disabledMessage : '' }}"
        [for]="uniqueId"
        [id]="'label-' + uniqueId"
    >
        <app-svg-icon
            *ngIf="isStyledRadio"
            class="icon-component"
            [ngClass]="{ 'radio-selected-icon': selected, 'radio-unselected-icon': !selected }"
            [name]="getIconName()"
        ></app-svg-icon>
        <span class="label-text">{{ label }}</span>
    </label>
</div>
