@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;

:host {
  display: flex;
  flex-direction: column;
  background-color: $color-dark-primary;
  border-radius: grid(1);
  padding: grid(2);
  color: white;
  margin: grid(2) 0;
}

.relative-message-container {
  display: flex;
  justify-content: space-between;

  .close-button {
    @extend %message-close-button-styles;
  }
}

.message {
  &:not(:first-child) {
    padding-top: grid(1);
  }
}
