<form *ngIf="form" [formGroup]="form" class="explore-selections-container">
    <p class="container-title">Selections</p>
    <div class="selection-section fields">
        <p title class="selection-title">Fields</p>
        <div instructions class="selection-instructions">
            <p>Select fields to view in the chart below</p>
        </div>
        <div content class="selection-interface checkbox-group-container fields" formArrayName="fields">
            <app-form-checkbox-input
                *ngFor="let control of fields.controls; let i = index"
                class="checkbox-input-component fields button-style"
                [formControlName]="i"
                [option]="fieldOptions[i]"
                [isStyledCheckbox]="false"
                [style.--color]="artHistoryFields[i].color"
            ></app-form-checkbox-input>
        </div>
    </div>
    <div class="selection-section data-type">
        <p class="selection-title">Data type</p>
        <p class="selection-instructions">
            Select whether you would like to see the total number of jobs for each year or the number of jobs for a
            selection as a share of all jobs.
        </p>
        <div class="selection-interface radio-group-container data-type">
            <app-form-radio-input
                *ngFor="let option of dataTypeOptions"
                class="radio-input-component data-type button-style"
                formControlName="dataType"
                [option]="option"
                [isStyledRadio]="false"
            ></app-form-radio-input>
        </div>
    </div>
    <div class="selection-section years">
        <p title class="selection-title">Time range</p>
        <p instructions class="selection-instructions">Select years across which to compare the change in jobs.</p>
        <app-years-selection
            class="time-range-slider-component"
            [years]="yearsRange"
            [formGroup]="form.controls.years"
        ></app-years-selection>
    </div>
    <div class="selection-section filters">
        <p class="container-title">Filters</p>
        <div instructions class="selection-instructions">
            <p>
                Select <span class="filter-use-name"> filter</span> to see jobs for a particular tenure status or job
                rank.
            </p>
            <p>
                Select <span class="filter-use-name"> disaggregate</span> to compare among tenure statuses or job ranks.
            </p>
            <p>
                Limitations: Only one of the variables below can be disaggregated at a time. Only one field can be
                selected when disaggregating. Selection updates will be made automatically.
            </p>
        </div>
        <div class="selection-interface filters">
            <div class="selection-interface tenure">
                <p class="selection-title filters">Tenure status</p>
                <div class="selection-interface radio-group-container tenure-use">
                    <app-form-radio-input
                        *ngFor="let option of filterUseOptions"
                        class="radio-input-component tenure-use button-style"
                        formControlName="tenureUse"
                        [option]="option"
                        [isStyledRadio]="false"
                    ></app-form-radio-input>
                </div>
                <div class="selection-interface radio-group-container tenure-values" *ngIf="tenureIsFilter">
                    <app-form-radio-input
                        *ngFor="let option of tenureValueOptions"
                        class="radio-input-component tenure-values input-element-style"
                        formControlName="tenureFilterValue"
                        [option]="option"
                        [isStyledRadio]="true"
                    ></app-form-radio-input>
                </div>
                <div
                    class="selection-interface checkbox-group-container tenure-values"
                    *ngIf="!tenureIsFilter"
                    formArrayName="tenureDisaggValues"
                >
                    <app-form-checkbox-input
                        *ngFor="let _ of tenureDisaggValues.controls; let i = index"
                        class="checkbox-input-component tenure-values input-element-style"
                        [formControlName]="i"
                        [option]="tenureValueOptions[i]"
                        [isStyledCheckbox]="true"
                    ></app-form-checkbox-input>
                </div>
            </div>
            <div class="selection-interface rank">
                <p class="selection-title filters">Rank status</p>
                <div class="selection-interface radio-group-container rank-use">
                    <app-form-radio-input
                        *ngFor="let option of filterUseOptions"
                        class="radio-input-component rank-use button-style"
                        formControlName="rankUse"
                        [option]="option"
                        [isStyledRadio]="false"
                    ></app-form-radio-input>
                </div>
                <div content class="selection-interface radio-group-container rank-values" *ngIf="rankIsFilter">
                    <app-form-radio-input
                        *ngFor="let option of rankValueOptions"
                        class="radio-input-component rank-values input-element-style"
                        formControlName="rankFilterValue"
                        [option]="option"
                        [isStyledRadio]="true"
                    ></app-form-radio-input>
                </div>
                <div
                    class="selection-interface checkbox-group-container rank-values"
                    *ngIf="!rankIsFilter"
                    formArrayName="rankDisaggValues"
                >
                    <app-form-checkbox-input
                        *ngFor="let _ of rankDisaggValues.controls; let i = index"
                        class="checkbox-input-component rank-values input-element-style"
                        [formControlName]="i"
                        [option]="rankValueOptions[i]"
                        [isStyledCheckbox]="true"
                    ></app-form-checkbox-input>
                </div>
            </div>
        </div>
    </div>
</form>
