<ng-container *ngIf="dropdownContent$ | async as dropdownContent">
  <div
    *ngIf="dataService.selections$ | async as selections"
    class="explore-selections-container"
    [class.open]="dropdownContent.isOpen"
  >
    <p class="container-title">Data selections</p>
    <div
      class="navbar"
      type="button"
      [class.open]="dropdownContent.isOpen"
      #ddOrigin
    >
      <div class="links-container">
        <button
          class="selection-title"
          [class.open]="dropdownContent.isOpen && dropdownContent.content === 'fields'"
          (click)="toggleOpenContent('fields')"
        >
          Fields
        </button>
        <button
          class="selection-title"
          [class.open]="dropdownContent.isOpen && dropdownContent.content === 'dataType'"
          (click)="toggleOpenContent('dataType')"
        >
          Data type
        </button>
        <button
          class="selection-title"
          [class.open]="dropdownContent.isOpen && dropdownContent.content === 'timeRange'"
          (click)="toggleOpenContent('timeRange')"
        >
          Time range
        </button>
        <button
          class="selection-title"
          [class.open]="dropdownContent.isOpen && dropdownContent.content === 'tenure'"
          (click)="toggleOpenContent('tenure')"
        >
          Tenure status
        </button>
        <button
          class="selection-title"
          [class.open]="dropdownContent.isOpen && dropdownContent.content === 'rank'"
          (click)="toggleOpenContent('rank')"
        >
          Rank
        </button>
      </div>
    </div>

    <ng-template #fieldsDd>
      <div class="selection-container fields">
        <ng-container *ngTemplateOutlet="closeButton"></ng-container>
        <div class="selection-instructions">
          <p>Select fields to view in the chart below</p>
        </div>
        <app-fields-use-selection></app-fields-use-selection>
        <app-fields-selection
          class="selection-interface fields checkbox-input-container"
        ></app-fields-selection>
      </div>
    </ng-template>

    <ng-template #dataTypeDd>
      <div class="selection-container radio-input-container data-type">
        <ng-container *ngTemplateOutlet="closeButton"></ng-container>
        <p class="selection-instructions">
          Select count to see the total number of jobs for each year or percent
          for the number of jobs for your selection as a share of all jobs.
        </p>
        <app-value-type-selection
          class="selection-interface data-type radio-input-container"
        >
        </app-value-type-selection>
      </div>
    </ng-template>

    <ng-template #timeRangeDd
      ><div class="selection-container">
        <ng-container *ngTemplateOutlet="closeButton"></ng-container>
        <p class="selection-instructions"
          >Select years across which to compare the change in jobs.</p
        >
        <app-years-selection
          class="time-range-slider-component selection-interface time-range"
        ></app-years-selection></div
    ></ng-template>

    <ng-template #tenureDd>
      <div class="selection-container tenure">
        <ng-container *ngTemplateOutlet="closeButton"></ng-container>
        <div class="filter-instructions">
          <p
            >Select <span class="filter-use-name"> filter</span> to see jobs for
            a particular tenure status.</p
          >
          <p
            >Select <span class="filter-use-name"> disaggregate</span> to
            compare among tenure statuses.</p
          >
          <ng-container *ngTemplateOutlet="limitations"></ng-container>
        </div>
        <app-variable-use-selection
          [variable]="'tenure'"
          class="selection-interface tenure-use radio-input-container"
        >
        </app-variable-use-selection>
        <app-variable-single-multi-selection
          class="selection-interface tenure-values"
          [variable]="'tenure'"
          [options]="tenureValueOptions"
        ></app-variable-single-multi-selection>
      </div>
    </ng-template>

    <ng-template #rankDd
      ><div class="selection-container rank">
        <ng-container *ngTemplateOutlet="closeButton"></ng-container>
        <div class="filter-instructions">
          <p
            >Select <span class="filter-use-name"> filter</span> to see jobs for
            a particular job rank.</p
          >
          <p
            >Select <span class="filter-use-name"> disaggregate</span> to
            compare among job ranks.</p
          >
          <ng-container *ngTemplateOutlet="limitations"></ng-container>
        </div>
        <app-variable-use-selection
          [variable]="'rank'"
          class="selection-interface rank-use radio-input-container"
        >
        </app-variable-use-selection>
        <app-variable-single-multi-selection
          class="selection-interface rank-values"
          [variable]="'rank'"
          [options]="rankValueOptions"
        ></app-variable-single-multi-selection>
      </div>
    </ng-template>
  </div>

  <ng-template #limitations>
    <p>
      Constraints: Only one of the variables below can be disaggregated at a
      time. Only one field can be selected when disaggregating. Selection
      updates will be made automatically.
    </p>
  </ng-template>

  <ng-template #closeButton>
    <span
      class="close-button material-symbols-outlined"
      (click)="toggleOpenContent(null)"
      >close</span
    >
  </ng-template>
</ng-container>
