@use 'sass:color';
@use 'vars' as *;
@use 'placeholders' as *;
@use 'functions' as *;
@use 'typography' as *;
@use 'colors';

.explore-selections-container {
  display: flex;
  flex-direction: column;

  .container-title {
    @include font-sans-medium;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
  }

  .tab-list {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: grid(2);
  }

  .tab-label-container {
    flex-grow: 1;
    padding: grid(2) grid(2) grid(1) grid(2);
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.25s ease-in-out;
    cursor: pointer;

    &:last-child {
      padding-right: 0;
    }

    &:hover {
      border-bottom: 2px solid colors.$text;
    }

    &.active {
      border-bottom: 2px solid colors.$highlight-default;

      .tab-label {
        color: colors.$highlight-default;
        @include font-mono-standard-semibold;
      }
    }
  }

  .tab-label {
    @include label-large;
    color: colors.$text;
    transition: all 0.2s;

    @media screen and (max-width: 760px) {
      font-size: 1rem;
    }

    @media screen and (max-width: 500px) {
      font-size: 0.875rem;
    }
  }

  .tabs-body {
    background: colors.$neutral-97;
    padding: grid(4);
    border-radius: grid(1);
  }
}
