@import 'vars', 'placeholders';

:host {
    display: block;
}

.section-title-container {
    @extend %font-style-ui-label-small-caps;
    padding-bottom: $space-1;
    margin-bottom: $space-2;
    font-weight: $font-weight-bold;
    border-bottom: 1px solid rgba($color-blue-medium, 0.8);
}
