@use '../utilities/utilities';

$colors: (
  'primary': (
    '0': #2f374c,
    '1': #4b5264,
    '2': #666c7d,
    '3': #828795,
    '4': #9da2ad,
    '5': #b9bdc5,
    '6': #d4d7de,
    '7': #f0f2f6,
    '8': #f8f8fb,
    'base': #20283c,
    'white': #ffffff,
  ),
  'highlight': (
    'dark': #0c369e,
    'default': #1650e1,
    'light': #4578f6,
  ),
  'hover': #ffeb3b,
);

$text: utilities.get($colors, 'primary.base');
$white: utilities.get($colors, 'primary.white');
$highlight-dark: utilities.get($colors, 'highlight.dark');
$highlight: utilities.get($colors, 'highlight.default');
$highlight-light: utilities.get($colors, 'highlight.light');
$hover: rgba(utilities.get($colors, 'hover'), 0.8);
$focus-ring: utilities.get($colors, 'primary.2');
$primary-1: utilities.get($colors, 'primary.1');
$primary-2: utilities.get($colors, 'primary.2');
$primary-3: utilities.get($colors, 'primary.3');
$primary-4: utilities.get($colors, 'primary.4');
$primary-5: utilities.get($colors, 'primary.5');
$primary-6: utilities.get($colors, 'primary.6');
$primary-7: utilities.get($colors, 'primary.7');
$primary-8: utilities.get($colors, 'primary.8');
